{% block form_row -%}
    <div class="row">
      <div class="small-12 columns error">
        {{- form_errors(form) -}}
      </div>
      {% if form.vars.name == 'translations' %}
        <div class="small-12 columns">
          {{- form_widget(form) -}}
        </div>
      {% else %}
        <div class="small-3 columns">
          {{- form_label(form) -}}
        </div>

        <div class="small-9 columns">
          {{- form_widget(form) -}}
        </div>
      {% endif %}
      
    </div>
{%- endblock form_row %}

{%- block form_label -%}
    {% if label is not sameas(false) %}
        {%- if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {%- if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {%- if label is empty -%}
            {% set label = name|humanize %}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
          {%- if required -%}
            <a class="entity_form_info" title="{{ 'Este campo es obligatorio' | trans }}"><i class="fa fa-info-circle"></i></a>
          {%- endif -%}
          {{ label|trans({}, translation_domain) | raw }}
        </label>
    {%- endif -%}
{%- endblock form_label -%}

{% block datetime_widget -%}
    {% if widget == 'single_text' %}
        {{- block('form_widget_simple') -}}
    {% else -%}
        <div {{ block('widget_container_attributes') }}>
            {{- form_errors(form.date) -}}
            {{- form_errors(form.time) -}}
          <div class="inline">
            {{- form_widget(form.date) -}}
          </div>
          <div class="inline">
            {{- form_widget(form.time) -}}
          </div>
        </div>
    {%- endif %}
{%- endblock datetime_widget %}

{% block date_widget -%}
    {% if widget == 'single_text' -%}
        {{ block('form_widget_simple') }}
    {%- else -%}
        <div {{ block('widget_container_attributes') }} class="rowFormDateTime">
            {{- date_pattern|replace({
                '{{ year }}':  form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}':   form_widget(form.day),
            })|raw -}}
        </div>
    {%- endif %}
{%- endblock date_widget %}

{% block time_widget -%}
    {% if widget == 'single_text' -%}
        {{ block('form_widget_simple') }}
    {%- else -%}
        {% set vars = widget == 'text' ? { 'attr': { 'size': 1 }} : {} -%}
        <div {{ block('widget_container_attributes') }} class="rowFormDateTime">
            {{ form_widget(form.hour, vars) }}{% if with_minutes %}:{{ form_widget(form.minute, vars) }}{% endif %}{% if with_seconds %}:{{ form_widget(form.second, vars) }}{% endif %}
        </div>
    {%- endif %}
{%- endblock time_widget %}

{% block entity_widget -%}
  {% if attr['ajax'] | default is not empty %}
    {% set values = {} %}
    {% set defaultValue = '' %}
    {% if data | default is not empty %}
      {% set defaultValue = data.id %}
      {% set values = values|merge({ defaultValue: data }) %}
    {% endif %}
    <select name='{{ full_name }}' id='{{ id }}' {{ attr | select2ajax }}>
      <option value=''>{{ 'select.all' | trans }}</option>
      {% if group_by is defined %}
        {% for key, choices in choices %}
          <optgroup label="{{ key |trans }}">
            {% for choice in choices %}
              <option value='{{ choice.id }}' {{ defaultValue is sameas(choice.id) ? 'selected' : '' }}>{{ choice }}</option>
            {% endfor %}
          </optgroup>
        {% endfor %}
      {% else %}
        {% for choice in values %}
          <option value='{{ choice.id }}' {{ defaultValue is sameas(choice.id) ? 'selected' : '' }}>{{ choice }}</option>
        {% endfor %}
      {% endif %}
    </select>
  {% else %}
    {{ form_widget(form) }}
  {% endif %}
{%- endblock entity_widget %}

{%- block button_row -%}
    <div class="form_button_row">
        {{- form_widget(form) -}}
    </div>
{%- endblock button_row -%}
{%- block button_widget -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}><i class="fa fa-envelope-o"></i>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</button>
{%- endblock button_widget -%}

{%- block submit_widget -%}
    {%- set type = type|default('submit') -%}
    {{ block('button_widget') }}
{%- endblock submit_widget -%}