    /**
{% block phpdoc_method_header %}
     * Creates a new {{ document }} document.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/", name="{{ route_name_prefix }}_create")
     * @Method("POST")
     * @Template("{{ bundle }}:{{ document }}:new.html.twig")
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function createAction(Request $request)
{% endblock method_definition %}
    {
{% block method_body %}
        $document = new {{ document_class }}();
        $form = $this->createCreateForm($document);
        $form->handleRequest($request);

        if ($form->isValid()) {
            $em = $this->getDoctrine()->getManager();
            $em->persist($document);
            $em->flush();

            {% if 'show' in actions -%}
                return $this->redirect($this->generateUrl('{{ route_name_prefix }}_show', array('id' => $document->getId())));
            {%- else -%}
                return $this->redirect($this->generateUrl('{{ route_name_prefix }}'));
            {%- endif %}

        }
{% endblock method_body %}

{% block method_return %}
{% if 'annotation' == format %}
        return array(
            'document' => $document,
            'form'   => $form->createView(),
        );
{% else %}
        return $this->render('{{ bundle }}:{{ document|replace({'\\': '/'}) }}:new.html.twig', array(
            'document' => $document,
            'form'   => $form->createView(),
        ));
{% endif %}
{% endblock method_return %}
    }

{% block form %}
    /**
     * Creates a form to create a {{ document }} document.
     *
     * @param {{ document_class }} $document The document
     *
     * @return \Symfony\Component\Form\Form The form
     */
    private function createCreateForm({{ document_class }} $document)
    {
        $form = $this->createForm(new {{ document_class }}Type(), $document, array(
            'action' => $this->generateUrl('{{ route_name_prefix }}_create'),
            'method' => 'POST',
        ));

        $form->add('submit', 'submit', array('label' => $this->get('translator')->trans('form.action.create')));

        return $form;
    }
{% endblock form %}
