    /**
{% block phpdoc_method_header %}
     * Deletes a {{ document }} document.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/{id}", name="{{ route_name_prefix }}_delete")
     * @Method("DELETE")
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function deleteAction($id, Request $request, $class = '{{ document }}')
{% endblock method_definition %}
    {
{% block method_body %}{% endblock method_body %}
{% block method_return %}
        return parent::deleteAction($id, $request, $class);
{% endblock method_return %}
    }

{% block form %}{% endblock form %}
