
    /**
{% block phpdoc_method_header %}
     * Displays a form to edit an existing {{ document }} document.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/{id}/edit", name="{{ route_name_prefix }}_edit")
     * @Method({"GET", "POST"})
     * @Template()
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function editAction($id, Request $request, $class = '{{ document }}')
{% endblock method_definition %}
    {
{% block method_body %}{% endblock method_body %}
{% block method_return %}
        return parent::editAction($id, $request, $class);
{% endblock method_return %}
    }

{% block form %}

{% endblock form %}
