{% extends "PromokissPublicBundle:Default:base.html.twig" %}
{% block container %}
	<div class="loginContent row text-center">
		<div class="large-6 large-centered columns">
 			<p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
		</div>
	</div>
{% endblock %}