{% extends "PromokissPublicBundle:Default:base.html.twig" %}
{% block container %}
	<div class="loginContent row text-center">
		<div class="large-6 large-centered columns">
  <p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
    {% endif %}
</div>
</div>
{% endblock %}
