

{%- for action in record_actions %}

<a href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ action ~ "', { 'id': entity."~ identifier ~" }) }}" }}" class="actionLink action_{{ action }}">
  <img src="/images/{{ action == 'edit' ? 'c0.gif' : 'detalle.png' }}" alt="{{ "{{ 'form.action." ~ action ~ "'|trans }}" }}" title="{{ "{{ 'form.action." ~ action ~ "'|trans }}" }}"/>    

</a>
{%- endfor %}
