{% extends '::index.html.twig' %}

{% block titulo_cabecera %}
    <h1>
      {{ 'IpControls'|trans }}
      <span style="font-size: 0.75rem; margin-bottom: 0; font-style: italic;">({{ 'ipcontrolhelp' | trans }})</span>
    </h1>
{% endblock %}

