body {
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

// Cabecera general
#header_info { background-color:$fondocabecera; color:$colortxtcabecera;
  #header_data{ padding-left: 20px; }

  #header_title{ font-weight: bold; font-size: 1.1em; line-height:1.1em; margin-top:.6em; display: none; }

  #header_breadcrumb{ font-size: 12px; padding-bottom: 2px;  margin-top: 1.5em; display: none;  }

  #header_logo{ height: rem-calc(55); width: 130px; position: relative; margin-left:rem-calc(10);
      img{ max-width: 130px; margin: 0; position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%); }
  }

  #header_byacc { margin-top: 1.5em; margin-left: 1em; }

  #header_user{ height: rem-calc(55); text-align: right; padding-right: 10px; padding-top: rem-calc(10); font-size: 70%; 
      span{ display: block; }
  }
}

// Idiomas
.tabs_idiomas {
    ul.tabs .tab-title a { padding: 5px 10px; font-size: 80%; }
    .tabs-content{ margin-bottom: 0px; }
    .tabs-content .content{ padding-bottom: 0px; }
}

.idiomasCab { background: #f6f6f6; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; padding: 2px 15px; position: absolute; right: 250px; top: 0; font-size: 80%; border: 1px solid #999; border-top: 0; 
  a{ font-weight: bold; color: #000; }
}



//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//      LOCALIZAR ORIGEN
/////////////////////////////////////////////////
/////////////////////////////////////////////////
/////////////////////////////////////////////////
.row{ max-width: none; }

#capacentro {
  height: 320px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 475px;
}

.capacentro2{
  height: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8em;
  padding: 15px;
  position: relative;
  width: 475px;
}

.inline{
  display: inline-block;
}

.rowFormDateTime select{
  width: auto;
}


#cargando { display: none; position: fixed; width: 100%; height: 100%; left: 0; right: 0; top: 0; bottom: 0; opacity: 0.5; background-color: #000; background-image: url('../images/ajax-loader.gif') ; background-repeat: no-repeat; background-position: center center; z-index: 2147483647; }


div.error ul, .entity_form_error ul{
  color: red;
  font-size: 12px;
  list-style: none;
  margin: 0;
}

.panel.panel_mini{ padding: 5px; font-size: 11px; 
  p, ul{ font-size: 11px; margin-bottom: 10px; }
}

.reveal-modal{
    overflow-y: auto;
}

.reveal-modal-bg{
  position: fixed;
}


.entity_show_label{
  width: 30%;
  display: inline-block;
}
.entity_show_value{
  width: 65%;
  display: inline-block;
}


legend { text-transform: capitalize; }
.newRelObject{
  margin-left: 5px;
  vertical-align: top;
}
.newRelObject img{
  width: 16px;
}


select[multiple]{
  height: auto;
}

.entity_relation_form_row ul{
  list-style: none;
  margin: 0;
}

.entity_relation_form_row ul li .row{
  display: inline-block;
  margin-right: 10px;
}

.entity_relation_form_row legend label{
  display: inline-block;
}
.entity_relation_form_row legend img{
  width: 16px;
  vertical-align: sub;
}
.delete-relation{
  vertical-align: top;
}

.widthAuto{
  width: auto;
}

.filter_element{
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

/*.filter_element label{
  margin-right: 10px;
}*/

.filter_element input, .filter_element select, .filter_element textarea{
  display: inline-block;
}
.filter_element input, .filter_element textarea, .filter_element select.JSselect2No{
  width: auto;
}

/*.filter_element .select2-container{
  margin-bottom: 0px;
}*/

.form_change{ 
  color: red;
}

.top-bar-section .has-dropdown .dropdown li.has-dropdown > a::after{
  line-height: 0;
}
