.row {
  h1 { font-size:2em; margin-top: 1em; font-weight: 600; }
  h2 { font-size:1em;}
}

.relative { position: relative; }

.formFilterOptions{
  position: absolute; right: 0; top: -2.5em; 
  a { margin-bottom: 0; }
}

// Filtros
form.JSnoChanges { font-size:.75em;
                   //label { font-size:1em;}
}

// Loggin
.login-header { background:#f5f5f5; width:100%;border-bottom: medium solid; font-size: 1.5em; height: 5em; left: 0; padding: 2em; position: absolute; top: 0; width: 100%; 
                &.login-caret:after {
                  border-color: #373e4a transparent transparent;
                  border-style: solid;
                  border-width: 13px 12.5px 0;
                  bottom: -13px;
                  content: "";
                  height: 0;
                  left: 50%;
                  margin-left: -12.5px;
                  position: absolute;
                  transition: all 550ms ease-in-out 0s;
                  width: 0;
                }
                .login-content {
                  margin: 0 auto;
                  padding: 20px 0;
                  position: relative;
                  text-align: center;
                  transition: all 550ms ease-in-out 0s;
                  width: 320px;
                }
}

.login-form {
  .form-group {background:#f5f5f5; margin:0 0 1em 0; padding:.7em .2em; margin:0 auto 1em auto; width:70%; @include border-radius(.5em);
               &:after {display:block; clear:both; content:"";}
               .input-group-addon {float:left; width:13%; border-right:solid 1px #000; color:#555;}
               input {float:left; width:85%; margin-left:1%; background:none; border:none; color:#555}
  }
  .form-group-send {
    button {background:#555; margin:0 0 1em 0; padding:.7em; margin:0 auto 1em auto; width:50%; @include border-radius(.5em); color:#fff; font-size:.9em; text-align:left;
            i { float:right; font-size:1.2em;}
            &:hover { background:#999;}
    }
  }
  .login-bottom-links a {color:#555; font-size:.8em;}
}

.tabs {
  border-bottom: 1px solid black;
}
.tabs .tab-title > a{
  padding: 0.3rem 1rem;
  font-size: 0.80rem;
}
.tabs .tab-title {
  border: 1px solid #bbb;
  border-bottom-width: 0;
  margin: 0;
}

.tabs .tab-title.active {
  border-color: black;
}

.tabs .tab-title.active a {
  font-weight: bold;
  position: relative;
  top: 1.2px;
}

.tabs-content {
  border: 1px solid black;
  padding: .85rem;
  padding-top: 0;
  border-top: 0;
}

fieldset legend { font-size: .85rem; }

select, filter_element select { min-width: 15rem; max-width: 50%; }
select.JSselect2No, filter_element select.JSselect2No { min-width: 0; max-width: none; }
select.JSselect2No, filter_element select.JSselect2No { min-width: 0; max-width: none; }
span.select2 { min-width: 15rem; }
input[type="text"].fYear { width: 3rem;  }
input[type="url"] { width: 30rem; }
input.input-large {width: 30rem;}
input.input-medium {width: 17rem;}
input.input-small, select.input-small { width: 3rem; min-width: 0; }
input[type="number"].input-small { width: 4rem; }

.panel { padding: .85rem; font-size: .85rem; }

.progress{
  .meter { background-color: $fondocabecera; } 
}

.translations {
  .row { margin-bottom: 1em;  }
}

.required .entity_form_info {
    margin-right: .35em;
    color: $rosa;
}

#tab_PromocionEstadisticas {
  h3 { font-size: 1.5em; font-weight: 600; color: $rosa; margin-top: 3em; }
  h4 { font-size: 1.2em; font-weight: 600; color: #000; margin-top: 2em; }

  small { font-size: 100%; }

  table tr th, table tr td, table thead tr th, table thead tr td { font-size: 1em; }

  .totalParticipantes, .totalVisitas { font-weight: bold; padding: 1em; border: 1px solid #000; background: #f4f4f4; }
}