// css ventanas modales

.reveal-modal { top:2em;
	.row {
		
		h2 { font-size:1.1em; border-bottom: solid 1px #cdcdcd; padding:0 0 .2em 0; margin:0 0 1em 0;}

                .entity_form_row { display: inline-block; width: auto; vertical-align: top; margin-right: 0.5rem; } 
		.entity_form_label{ width: auto; display: block; vertical-align: top;
		    label { padding: 0.2rem 0 0 0;}
		}
		.columns label { padding: 0.2rem 0 0 0;}
		.entity_form_widget{ display: block; 
			a.newRelObject { color:#c0c0c0; display:inline-block; padding: 0 0.3em; @include transition(all, 0.3s, ease-in-out); font-size:1.2em;
				&:hover {color:#97cd0d;}
			}
                        textarea { width: 100%; }
		}

		//CSS Modal personas +1 incorporar persona
		.entity_relation_form_row {
			ul {
				li { border-top:solid 1px #cdcdcd; padding-top:.6em;
					&:first-child { border-top:none; padding-top:inherit;}
					input, select { margin:0;}
                                        .row { vertical-align: top; }
				} 
			}
		}

		fieldset.entity_relation_form_row { background:#f1f1f1; padding-top: 0.5rem; position: relative;
                        legend { background: none; } 
			.legendModal { display:block; border-bottom:solid 1px #cdcdcd; margin:0 0 1em 0; padding:0 0 .5em 0;
				&:after { display:block; clear:both; content:"";}
				label { width:auto; float:left; font-weight:bold; margin:0; padding:0;}
				i { position: absolute; bottom: 2rem; right: 1rem; color:#97cd0d; font-weight:bold; @include transition(all, 0.3s, ease-in-out); font-size:1.2em;
					&:hover {color:#000;}
				}
			}
			ul.fields-list {
				li {
					span { margin-bottom:0;}
					a.newRelObject { color:#c0c0c0; display:inline-block; padding:.3em; @include transition(all, 0.3s, ease-in-out); 
						&:hover {color:#97cd0d;}
					}
					a.delete-relation { color:#ca1b1b; display:inline-block; padding:0 .3em; margin:0em; @include transition(all, 0.3s, ease-in-out); font-size:1.5em;
						&:hover {color:#000;}
					}
				}
			}
		}

		form { position: relative; 
			.form_button_row { position: absolute; top: -1.5em; right: 0; 
                                a, button { margin-left: 0.5rem; }
                        }
		}

		.dataTables_filter label, .dataTables_length label{ 
			padding: 0;
		}
	} 
        
        .info_modal { font-size: 0.72rem; margin: -1rem 0 0.5rem 0.9rem; border-bottom: 2px solid $fondocabecera;
          div, .field div { display: inline-block; }
          .field { vertical-align: top; border: 1px solid #DDDDDD;  padding: 0.3em 0.5em; background: #EEEEEE; margin-bottom: 0.2rem;
            b { vertical-align: top; }
          }
          .info_modal_title { font-weight: bold; background: #DDDDDD; text-transform: uppercase; }
          .fieldExtra { background: #ffe8d7; }
          .info_origin { display: block; border-bottom: 2px solid $fondocabecera; margin-bottom: 0.5rem; }
        }
}