{#
Example:

{% import "AppBundle::macros.html.twig" as a2lixTranslations %}

{{ a2lixTranslations.partialTranslations(editForm.translations, ['title','description']) }}
{{ a2lixTranslations.partialTranslations(editForm.translations, ['url']) }}
#}
{% macro partialTranslationsNoTabs(form, fieldName) %}
        <fieldset class="translations">
          {% for translationsLocales in form %}            
              {% for translationsFields in translationsLocales %}
                  {% set locale = translationsFields.vars.name %}
                    {% for translationsField in translationsFields if translationsField.vars.name == fieldName %}                      
                      {% if app.request.locale == locale %}
                      <legend>{{translationsField.vars.label |default(translationsField.vars.name) |trans}}</legend>
                      {% endif %}
                      {{ form_row(translationsField, {   'label': locale|lang }) }}                                                               
                    {% endfor %}                                        
              {% endfor %}
          {% endfor %}          
        </fieldset>       
{% endmacro %}
{% macro partialTranslations(form, fieldsNames) %}
      {# {% if form.vars.simple_way %}
          {{ block('a2lix_translations_widget') }}
      {% else %} #}
        <div class="tabs_idiomas">
          <div class="row">
            <div class="small-3 columns"></div>
            <div class="small-9 columns">
              <ul  class="tabs" data-tab>
              {% for translationsLocales in form %}
                  {% for translationsFields in translationsLocales %}
                      {% set locale = translationsFields.vars.name %}

                      <li class="tab-title {% if app.request.locale == locale %}active{% endif %}">
                          <a href="#trans_{{ locale }}">
                              {{ locale|lang }} {% if app.request.locale == locale %}{% endif %}
                          </a>
                      </li>
                  {% endfor %}
              {% endfor %}
              </ul>
            </div>
          </div>
          <div class="tabs-content">
          {% for translationsLocales in form %}
              {% for translationsFields in translationsLocales %}
                  {% set locale = translationsFields.vars.name %}

                   <div id="trans_{{ locale }}" class="content {% if app.request.locale == locale %}active{% endif %}">
                       {% for translationsField in translationsFields if translationsField.vars.name in fieldsNames %}
                          {# {{ form_errors(translationsFields) }} #}
                          {{ form_row(translationsField) }}
                       {% endfor %}                          
                  </div>
              {% endfor %}
          {% endfor %}
          </div>
    </div>
    <br>
    {#  {% endif %} #}    
{% endmacro %}