{% block a2lix_translations_widget %}
  <div class="tabs_idiomas">
      {% if form.children|length > 1 %}
        <div class="row">
            <div class="small-12 columns"></div>
            <div class="small-12 columns">
              <ul  class="tabs" data-tab>
              {% for translationsFields in form %}
                  {% set locale = translationsFields.vars.name %}

                  <li class="tab-title {% if app.request.locale == locale %}active{% endif %}">
                      <a href="#trans_{{ locale }}">
                          {{ locale|lang }}
                          {#{% if app.request.locale == locale %}[Default]{% endif %}
                          {% if translationsFields.vars.required %}*{% endif %}#}
                      </a>
                  </li>
              {% endfor %}
              </ul>
            </div>
          </div>
      {% endif %}
        <div class="tabs-content">
        
        {{ form_errors(form) }}
        {% for translationsFields in form %}
            {% set locale = translationsFields.vars.name %}

            <div id="trans_{{ locale }}" class="content {% if app.request.locale == locale %}active{% endif %}">
                {{ form_errors(translationsFields) }}
                {{ form_widget(translationsFields) }}
            </div>
        {% endfor %}
        </div>
  </div>
{% endblock %}

{% block a2lix_translations_gedmo_widget %}
      {% if form.vars.simple_way %}
          {{ block('a2lix_translations_widget') }}
      {% else %}
        <div class="tabs_idiomas">
          <div class="row">
            <div class="small-12 columns"></div>
            <div class="small-12 columns">
              <ul  class="tabs" data-tab>
              {% for translationsLocales in form %}
                  {% for translationsFields in translationsLocales %}
                      {% set locale = translationsFields.vars.name %}

                      <li class="tab-title {% if app.request.locale == locale %}active{% endif %}">
                          <a href="#trans_{{ locale }}">
                              {{ locale|lang }} {% if app.request.locale == locale %}{% endif %}
                          </a>
                      </li>
                  {% endfor %}
              {% endfor %}
              </ul>
            </div>
          </div>
              <div class="tabs-content">
              {% for translationsLocales in form %}
                  {% for translationsFields in translationsLocales %}
                      {% set locale = translationsFields.vars.name %}

                       <div id="trans_{{ locale }}" class="content {% if app.request.locale == locale %}active{% endif %}">
                          {{ form_widget(translationsFields) }}
                      </div>
                  {% endfor %}
              {% endfor %}
              </div>
        </div>
      {% endif %}     
{% endblock %}
