.top-bar { background: #fff; padding: 0; margin-bottom: 3em; 
	.top-bar-top { background: #242424; 
		ul { background: none; text-align: right; 
			li { display: inline; 
				a { color: #fff; text-transform: none; font-size: .85em; padding: .5em; display: inline-block; }
			}
		}
	}

	.top-bar-left { padding: 1em 0; 
		ul { background: none;
			li {
				img { margin-right: 1em; }
				a { color: $gris; text-transform: uppercase; font-size: .9em; @include transition(all .3s ease);
					&:hover { color: #000; }
				}
			}
		}
	}

	.top-bar-right { padding: 1.5em 0 0 0; 
		ul { background: none;
			li {
				a { color: $gris; text-transform: uppercase; font-size: .9em; @include transition(all .3s ease);
					&:hover { color: #000; }
				}
				
				.botonCabecera { color: #000; text-transform: uppercase; font-size: .9em; border: 1px solid #000; @include border-radius(50px); @include transition(all .3s ease);
					&:hover { background: #000; color: #fff; }
				}

				&.usuario { color: $gris; font-size: .8em; }
			}
		}
	}

	@media screen and (max-width: 1023px) { 
		.top-bar-top { background: #242424; }
		.top-bar-left { float: none;
			ul {
				li { display: block; }
			}
		 }
		 
		.top-bar-right { float: none; padding: 0; 
			ul {
				li { display: block; 
					a.botonCabecera { @include border-radius(0); border: none; color: $gris;
						&:hover { color: #000; background: none; }
					}
				}
			}
		}
	}
}

.top-bar-premium { 
	ul { background: none; 
		li { display: block; }
	}

	.top-bar-left { float: none!important; }
}

#realEstateMenuMovil { display: none; background: #333; margin-top: -2em; position: absolute; left: 0; right: 0; z-index: 2;
	ul {
		li {
			a { color: #fff; text-transform: uppercase; padding: 1em; }
			&.usuario, &.idiomas { color: #fff; text-transform: uppercase; padding: 1em; margin-top: 1em; font-weight: 600; border-top: 1px solid lighten(#333, 20); }
		}
	}
}

#realEstateMenuPremium { display: none; background: #333; margin-top: 0;  position: absolute; left: 0; right: 0;
	ul {
		li {
			a { color: #fff; text-transform: uppercase; padding: 1em; }
			&.usuario, &.idiomas { color: #fff; text-transform: uppercase; padding: 1em; margin-top: 1em; font-weight: 600; border-top: 1px solid lighten(#333, 20); }
		}
	}
}

@media screen and (max-width: 1023px) { 
	#realEstateMenu { display: none!important; }
}

#menuTopMovil { background: #242424; margin-bottom: 2em;
	.large-6 { width: 33%; float: left; }
	.logoMovil { text-align: center; }
}

#menuTopMovilPremium { background: #242424; margin-bottom: 0;
	.large-6 { width: 33%; float: left; }
	.logoMovil { text-align: center; }
}