.contacto { background: #fff; @include border-radius(3px); padding: 2em; 
	h1 { color: #000; font-weight: 600; text-transform: uppercase; font-weight: 600; font-size: 1.3em; margin-bottom: 2em; border-bottom: 1px solid #e0e0e0; padding-bottom: .5em;}
	input[type="text"], input[type="email"], input[type="password"] { @include box-shadow(none); }
	textarea  { @include box-shadow(none); height: 10em; }

	button { background: $rosa; @include border-radius(50px); color: #fff; text-transform: uppercase; @include transition(all .3s ease); margin: 2em auto 0 auto; display: block; padding: .85em 1em; font-size: .9rem; vertical-align: middle; text-align: center; font-weight: 600; line-height: 1;
		&:hover { background: #000; }
	}

	.entity_form_info { display: none; }
}