.fichaPromociones {

	// FICHA PROMOCIÓN
	.infoPromo { background: #fff; padding: 0; @include border-radius(3px); overflow: hidden; margin: 0 0 2em 0; @include clear; 
		.large-8  { padding: 0; }
		.large-4 { padding: 2em; color: $gris; 
			h1 { color: #000; font-weight: 600; text-transform: uppercase; font-weight: 600; font-size: 1.3em; margin-bottom: 1.5em; }


			.detalles { padding: 0; margin: 0; 
				li { padding: .5em 0; border-bottom: none; list-style: none; 
					i { color: $rosa; margin-right: .5em; }
					strong { color: #000; font-weight: 600; }
				}
			}

			.addthis_sharing_toolbox { margin-top: 1.5em; }
		}
	}

	// CAJA DESCRIPCIÓN
	.cajaInfo { background: #fff; padding: 2em; color: $gris; 
		h2 { color: #535353; font-weight: 600; text-transform: uppercase; font-size: 1.1em; margin-bottom: 1em; }
	}
	
	// TABLA ACCIONES
	.tablaAcciones { background: #fff; padding: 2em; color: $gris; 
		h2 { color: #535353; font-weight: 600; text-transform: uppercase; font-size: 1.1em; margin-bottom: 1em; }

		table { width: 100%; border: none; font-size: 1em; 
			tbody { border: none; background: #fff; }
			thead { border-top: none; border-left: none; border-right: none; border-bottom: 2px solid #000; 
				tr {
					th { background: #fff; text-align: center; }
				}
			}

			tfoot { background: #fff; border-bottom: none; border-left: none; border-right: none; border-top: 2px solid #000; 
				
			}

			th { font-weight: bold; color: #000; font-size: 1em; padding: .5em 0; }
			td {  color: #000; font-size: 1em; text-align: center; border-bottom: 1px solid #ccc;  padding: .5em 0;}
			tr { 
				&:nth-child(even) { background-color: #fff;  }
			}
		}
	}


	.lista_ganadores { margin: 2em 0 0 0; background: #fff; padding: 2em; color: $gris; 
		h3 { color: #535353; font-weight: 600; text-transform: uppercase; font-size: 1.1em; }
	}

	// FORMULARIO INSCRIPCIÓN 
	.promocionContent2 { background: #fff; padding: 2em; color: $gris; 
		h2 { color: #535353; font-weight: 600; text-transform: uppercase; font-size: 1.1em; margin-bottom: 1em; }
		label { color: #000; }
		input[type="text"], input[type="email"] { @include box-shadow(none); background: #fff; }
		select { max-width: 100%; background-color: #fff; }
		a { color: $rosa; @include transition(all .3s ease);
			&:hover { color: #000; }
		}

		input[type=file], input[type=checkbox], input[type=radio] {  margin: 0; }
		.campoOpt { margin: 0 0 .5em 0; 
			label { margin: 0!important; color: $gris; }
		}
		.pregunta { margin: 1em 0; 
			label { font-size: 1em; margin-bottom: 1em; }
		}

		.required > label { 
			&:after { content:"*"; display: inline-block; margin-left: .25em; color: $rosa;  }
		}
	}

	#respuesta_msg { text-align: center; font-size: 1.2em; font-weight: 600; color: #27ae60; margin-bottom: 2em; }

	h4 { color: $rosa; text-transform: uppercase; font-size: 1.1em; font-weight: 600; }

	.accion { margin: 0 0 2em 0; padding: 0 0 2em 0; border-bottom: 1px solid #ccc; 
		&:last-child { border-bottom: none; }
	}
	#completar_datos { @include clear; }
	input[readonly] { background: #fef6d2!important; border: none; }
}