footer { background: #222; padding: .5em 0; color: #797979; font-size: .9em;  margin-top: 3em; 
	ul {
		li { margin: 0 3em 0 0; 
			a { color: #797979; @include transition(all .3s ease);
				&:hover { color: #fff; }
				&:focus { color: #fff; }
			}

			.byaccPie { display: inline-block;
				img { margin-top: .15em; }
			}
		}
	}

	@media screen and (max-width: 1023px) { 
		ul.menu {
			li { display: block; }
		}
	}
}