.promocionCompleta { background: #fff; padding: 0; margin: 0 0 2em 0; position: relative; @include border-radius(3px); overflow: hidden; 
	.large-8 { padding-left: 0;
		p { margin: 0; }
		img { @include transition(all .3s ease); }
		&:hover {
			img { @include opacity(.8); }
		}
	}
	.large-4 { padding: 2em 0 0 0;  }
	.lead { text-transform: uppercase;
		a { color: #000; font-weight: 600; @include transition(all .3s ease);
			&:hover { color: $rosa; }
		}
	}

	.inscrito { margin-top: 2em; font-weight: 600; padding-left: 1.5em; 
		&:before { content: ""; color: #27ae60; font-family: fontawesome; display: inline-block; margin-right: .5em; margin-left: -1.5em; }
	}

	.cuentaAtras { position: absolute; bottom: 1em; color: #a7a7a7; 
		&:before { content: ""; color: $rosa; font-family: fontawesome; display: inline-block; margin-right: .5em; }
	}

	@media screen and (min-width: 40em) { width: 95%!important; margin-left: 2.5%; margin-right: 2.5%; 
		.large-8 { padding: 0; 
			img { width: 100%; height: auto; }
		}
		.large-4 { padding: 2em;  }

		.cuentaAtras { position: relative; bottom: inherit; margin-top: 2em; }
	}

	@media screen and (max-width: 639px) { width: 95%!important; margin-left: 2.5%; margin-right: 2.5%; 
		.large-8 { padding: 0; 
			img { width: 100%; height: auto; }
		}
		.large-4 { padding: 2em;  }

		.cuentaAtras { position: relative; bottom: inherit; margin-top: 2em; }
	}
}

.leadAnteriores { text-transform: uppercase; color: #535353; font-weight: 700; text-align: center; font-size: 1.2em; margin: 3em 0 2em 0;
	&:after { content:""; height: 1px; width: 3em; display: block; position: relative; background: #535353; margin: 1em auto;  }
}

.promocion {  @include border-radius(3px); overflow: hidden;  
	.callout { border: none; padding: 0; 
		img { width: 100%; height: auto; }
		.lead { text-transform: uppercase; line-height: 1.2;
			a { color: #000; font-weight: 600; @include transition(all .3s ease); 
				&:hover { color: $rosa; }
			}
		}
		.contenido { padding: 1em; }
	}
}