.loginContent {
	h3 { text-transform: uppercase; font-weight: 600; font-size: 1.2em; margin-bottom: 1em; }
	.large-6 { 
		.large-11 { background: #fff; padding: 2em 0;  
			form { width: 90%; margin: 0 auto; 
				input[type="text"], input[type="email"], input[type="password"] { @include box-shadow(none); }
			}

			.login-bottom-links { 
				a { color: $gris; margin: 1em 0; }
			}

			.inicio_facebook { margin: 2em 0 0 0; }

			.checkbox {
				a { color: $rosa; @include transition(all .3s ease);
					&:hover { color: #000; }
				}
			}
		}
	}

	.login-form .form-group-send button { background: $rosa; @include border-radius(50px); color: #fff; text-transform: uppercase; @include transition(all .3s ease); margin: 2em auto 0 auto; display: block; 
		&:hover { background: #000; }
	}

	#login_error { color: $rojo; font-weight: bold; }
}