#misdatos_msg, #acceso_msg { text-align: center; font-weight: 600; margin: 2em 0; background: #edfcd5; border: 1px solid #c3ea81; @include border-radius(3px); padding: 1em 0; }
#misdatos_msg_error, #acceso_msg_error { text-align: center; font-weight: 600; margin: 2em 0; background: #f9e3d9; border: 1px solid #f2ae91; @include border-radius(3px); padding: 1em 0; }

.miCuenta { background: #fff; @include border-radius(3px); padding: 2em; 
	h1 { color: #000; font-weight: 600; text-transform: uppercase; font-weight: 600; font-size: 1.3em; margin-bottom: 2em; border-bottom: 1px solid #e0e0e0; padding-bottom: .5em;}
	input[type="text"], input[type="email"], input[type="password"] { @include box-shadow(none); }
}