////////////////////////////////
// Generales tabla 'DataTables'
table {
	img {border: none;}
	&.display { margin: 0 auto; width: 100%; clear: both;  
		th.primero { border-right: none; }
		th.opciones { border-left: none; }
		tr.heading2 td { border-bottom: 1px solid #aaa; border-right: 1px solid white; }
	 }
	thead tr th { padding: 3px 18px 3px 10px; background:$colorCabeceraTabla; cursor:default; /*Columna sin ordenamiento*/ height:25px; font-weight: bold; cursor: pointer; color:#fff; }
	tfoot th { padding: 3px 5px 3px 5px; cursor:default; /*Columna sin ordenamiento*/ height:20px; font-weight: bold; text-align:right;  }
	td { padding: 3px 5px; vertical-align:middle; min-height:20px;}
}



.dataTables_wrapper { position: relative; clear: both; zoom: 1; z-index:0; }
.dataTables_processing { position: absolute; top: 7rem; left: 50%; width: 250px; height: 50px; margin-left: -125px; margin-top: -15px; padding: 14px 0 2px 0; border: 1px solid #ddd; text-align: center; color: #999; font-size: 14px; background-color: white; }

// Combo de numero de registros
.dataTables_length { height:30px; text-align:center; background-color:#F0F0F0; color: #787878; float:right; padding:6px 10px 6px 10px; margin:10px 0 0 0; font-size:11px!important;	 
	select {  margin: 0 5px; padding:0; display: inline; width: 55px; height: 20px; font-size: 11px; }
}

// Buscador de datos 
.dataTables_filter {height:30px; float: right; text-align:left; background:#f0f0f0; margin:10px 0 0 0; padding:6px 10px 6px 10px; font-size:11px!important; 
	input {  margin: 0 5px; padding:0; display: inline; width: 180px; height: 20px; font-size: 11px; }
}

.dataTables_info { float: left; padding:5px; }

.dataTables_paginate { width: 44px; float: right; margin:0 15px 0 0; text-align: right; width:auto; }

.dataTables_length,  
.dataTables_filter,  
.dataTables_info, 
.dataTables_paginate { font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#555; }

/* Pagination nested */ 
.paginate_disabled_previous, 
.paginate_enabled_previous, 
.paginate_disabled_next, 
.paginate_enabled_next { height: 19px; width: 19px; margin-left: 3px; float: left; }

// DataTables > Ordenacion 
.sorting_asc { background: $colorCabeceraTablaAct url('../images/sort_asc.png') no-repeat center right; color:#fff; }
.sorting_desc { background:$colorCabeceraTablaAct url('../images/sort_desc.png') no-repeat center right; color:#fff; }
.sorting { background:$colorCabeceraTabla url('../images/sort_both.png') no-repeat center right; color:#fff; }
.sorting_asc_disabled, .sorting_disabled { background:$colorCabeceraTabla url('../images/sort_asc_disabled.png') no-repeat center right; }
.sorting_desc_disabled { background:$colorCabeceraTabla url('../images/sort_desc_disabled.png') no-repeat center right; }
.sorting_disabled { background:$colorCabeceraTabla; }

// DataTables > clases de filas
tr.odd { background-color: #fff; }
tr.even { background-color: #ffffff; }
tr.odd .tdOpciones{background-color: #fff!important;}
tr.even .tdOpciones{background-color: #ffffff!important;}
tbody tr.odd:hover, tbody tr.even:hover{background-color: #EEFFDB!important;}
.thOpciones, .tdOpciones{text-align: right;}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * Misc */ 
.top, .bottom { padding: 15px; background-color: #F5F5F5; border: 1px solid #CCCCCC; }
.top .dataTables_info { float: none; }
.clear { clear: both; }
.dataTables_empty, .centrado, .dtCentrado{ text-align: center; }
tfoot input { margin: 0.5em 0; width: 100%; color: #444; }
tfoot input.search_init { color: #999; }
td.group { background-color: #d1cfd0; border-bottom: 2px solid #A19B9E; border-top: 2px solid #A19B9E; }
td.details { background-color: #d1cfd0; border: 2px solid #A19B9E; }
.example_alt_pagination div.dataTables_info { width: 40%; }
.paging_full_numbers { height: 22px; line-height: 22px; 
	a { color:#333;
		&.current {background:#dddddd;}
	}
}
.paging_full_numbers .paginate_button, .paging_full_numbers .paginate_active { padding: 2px 5px; margin: 0 3px; cursor: pointer; *cursor: hand; }
.paging_full_numbers .paginate_button { background-color: #f7f7f7; }
.paging_full_numbers .paginate_button:hover { background-color: #dddddd; }
.paging_full_numbers .paginate_active { background-color: $colorCabeceraTabla; color:#FFF; }
table tr.even.row_selected td { background-color: $selectedTableRow; }
table tr.odd.row_selected td { background-color: $selectedTableRow; }
table.KeyTable td { border: 3px solid transparent; }
table.display tr { }
div.box { height: 100px; padding: 10px; overflow: auto; border: 1px solid #8080FF; background-color: #E5E5FF; }

/*cambios dmcorporative*/ 
#capaFiltro { width: 200px; text-align: right; background:#f0f0f0; margin:0 3px 5px 0; padding:6px 15px 7px 15px; position:absolute; top:40px; right:481px; z-index:5; }
select#filtro {  float:left;  font-size:11px;  margin:0 5px 0 0; }

/*comenzamos la tabla*/ 
#tablaContenido {clear:both; font-family:Arial, Helvetica, sans-serif; }
.tablaContenido {clear:both; font-family:Arial, Helvetica, sans-serif;  border-bottom:solid 1px #CDCDCD; margin-bottom: 2px; width:100%; border-spacing:1px; background:#ddd;}
table tr th, table tr td, table thead tr th, table thead tr td { font-size: 0.75em; }

//Tabla > Lista varios datos MN
.lista_relaciones { max-height: 65px; padding: 0; margin: 0; overflow-y: auto; overflow-x: hidden; font-size: 1em; 
	li { white-space:nowrap; line-height:1.05rem;}
}




//Pantalla permisos de usuarios
table#tablaContenido_Permisos { border-spacing:1px; background:#ddd; border:none;
	thead tr th { background:$colorCabeceraTabla;}	
	tbody tr { 
		th, td { background:#fff;}
		&:hover {
			th, td { background:#f1f1f1;}
		}
		td { text-align:center;
			a { display:block;}
		}
	}
} 


// Estilos para pantallas menores a 1024px
@media only screen and (max-width: 1024px) {
	 /*#tablaContenido_Congreso {
	 	tbody tr td:nth-child(4) a {display:block; width:16px; height:16px; text-indent: 50px; overflow:hidden;
	 		&:before {content:""; font-family:fontawesome; display:block;color: #000; font-size: 1.2em; text-indent: 0;} 
	 		&:hover {@include opacity(0.5);}
	 	}
	 } */
}



// Opciones tabla
.bloqueSeleccion { margin: 0; padding: 0; position: relative; width: 100%; }
#capaopciones { left: 0; margin: 0 0 0 .5em; position: absolute; top: 0; z-index: 1; 
	a { color:#555; font-size:1.5em; @include transition(all, 0.3s, ease-in-out); padding:0 .2em; }
	.anadirRegistro:hover { color:#97cd0d;}
	.eliminarRegistros:hover { color:#ca1b1b;}
	.seleccionarTodos:hover { color:#97cd0d;}
	.deseleccionarTodos:hover { color:#cdcdcd;}
}
.tabs-content #capaopciones { margin-top: 0.35rem; }
tbody td.tdOpciones a { color: #555; font-size: 1.4em; padding: 0 0.2em; transition: all 0.3s ease-in-out 0s;}


// DataTables Responsive
table.dataTable.dtr-inline.collapsed tbody td:first-child,
table.dataTable.dtr-inline.collapsed tbody th:first-child { position: relative; padding-left: 30px; cursor: pointer; }
table.dataTable.dtr-inline.collapsed tbody td:first-child:before,
table.dataTable.dtr-inline.collapsed tbody th:first-child:before { top: 8px; left: 4px; height: 16px; width: 16px; display: block; position: absolute; color: white; border: 2px solid white; border-radius: 16px; text-align: center;  line-height: 14px; box-shadow: 0 0 3px #444; box-sizing: content-box; content: '+'; background-color: #31b131; }
table.dataTable.dtr-inline.collapsed tbody td:first-child.dataTables_empty:before,
table.dataTable.dtr-inline.collapsed tbody th:first-child.dataTables_empty:before {  display: none;}
table.dataTable.dtr-inline.collapsed tbody tr.parent td:first-child:before,
table.dataTable.dtr-inline.collapsed tbody tr.parent th:first-child:before { content: '-'; background-color: #d33333; }
table.dataTable.dtr-inline.collapsed tbody tr.child td:before { display: none; }
table.dataTable.dtr-column tbody td.control,
table.dataTable.dtr-column tbody th.control { position: relative; cursor: pointer; }
table.dataTable.dtr-column tbody td.control:before,
table.dataTable.dtr-column tbody th.control:before { top: 50%; left: 50%; height: 16px; width: 16px; margin-top: -10px; margin-left: -10px; display: block; position: absolute; color: white; border: 2px solid white; border-radius: 16px; text-align: center; line-height: 14px; box-shadow: 0 0 3px #444; box-sizing: content-box; content: '+';  background-color: #31b131;}
table.dataTable.dtr-column tbody tr.parent td.control:before,
table.dataTable.dtr-column tbody tr.parent th.control:before { content: '-'; background-color: #d33333; }
table.dataTable tr.child { padding: 0.5em 1em; }
table.dataTable tr.child:hover { background: transparent !important; }
table.dataTable tr.child ul { /*display: inline-block;*/ list-style-type: none; margin: 0; padding: 0; font-size:1em; }
table.dataTable tr.child ul li { border-bottom: 1px solid #efefef; padding: 0.5em 0; white-space: nowrap; }
table.dataTable tr.child ul li:first-child { padding-top: 0; }
table.dataTable tr.child ul li:last-child { border-bottom: none; }
table.dataTable tr.child span.dtr-title { display: inline-block; min-width: 75px; font-weight: bold; }
table.dataTable tr.child span.dtr-data ul li { width:auto; float:left; padding: 0 .4em 0 .4em; border:none; border-right:solid 1px #cdcdcd;
	&:last-child { border:none;}
}

.tdCheckbox { width: 1.5rem; 
  .JScheckboxAll { margin-bottom: 0; }
} 

