{% set configuration = app.session.get('conf') %}
          
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{{ configuration and configuration.nombre ? configuration.nombre : 'DM CRM' }}{% endblock %}</title>
    
    {% block stylesheets %}
      <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
      <link href="{{ asset('css/jquery.datetimepicker.css') }}" type="text/css" rel="stylesheet" />
      <link href="{{ asset('css/archivo.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}

    {% block javascripts %}
      <script src="{{ asset('foundation/js/vendor/modernizr.js') }}" type="text/javascript"></script>
      <script src="{{ asset('foundation/js/vendor/jquery.js') }}" type="text/javascript"></script>
      <script src="{{ asset('foundation/js/foundation.min.js') }}" type="text/javascript"></script>
      
      <script src="{{ asset('js/jquery-ui/jquery-ui.min.js') }}" type="text/javascript"></script>

      <script src="{{ asset('js/fullcalendar/lib/moment.min.js') }}" type="text/javascript"></script>
      <script src="{{ asset('js/jquery.datetimepicker.js') }}" type="text/javascript"></script>
      <script src="{{ asset('js/comunes.js') }}" type="text/javascript"></script>
      {% set tmpFile = app.request.server.get('DOCUMENT_ROOT') ~ '/js/i18n_' ~ app.request.locale ~ '.js' %}
      {% if tmpFile|file_exists %}
        <script src="{{ asset('js/i18n_' ~ app.request.locale ~ '.js') }}" type="text/javascript"></script>
      {% else %}
        <script src="{{ asset('js/i18n_es.js') }}" type="text/javascript"></script>
      {% endif %}
      <script src="{{ asset('js/select2/js/select2.min.js') }}" type="text/javascript"></script>
      {% set tmpFile = app.request.server.get('DOCUMENT_ROOT') ~ '/js/select2/js/i18n/' ~ app.request.locale ~ '.js' %}
      {% if tmpFile|file_exists %}
        <script src="{{ asset('js/select2/js/i18n/' ~ app.request.locale ~ '.js') }}" type="text/javascript"></script>
      {% else %}
        <script src="{{ asset('js/select2/js/i18n/es.js') }}" type="text/javascript"></script>
      {% endif %}
      <script src="{{ asset('js/ajaxfileupload.js') }}" type="text/javascript"></script>
      
      {% include '::_partials/javascripts.html.twig' %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('uploads/logos/favicon.ico') }}" />
  </head>
  <body data-locale="{{ app.request.locale }}">
    {% block body %}
      {% block header %}
        {% block header_info %}
          <div id="header_info">
            <div id="header_logo" class="left">
              <img src="/{{ configuration and configuration.logo ? configuration.logo : 'images/logo.png' }}"/>
            </div>
            <div id="header_byacc" class="left">
              <a href="http://www.acc.com.es" target="_blank" title="ACC agencia digital. Branding, ecommerce, analítica web y programación a medida"><img src="/{{ configuration and configuration.logo ? configuration.logo : 'images/byacc.png' }}"/></a>
            </div>
            <div id="header_data" class="left">
              <div id="header_title">
                {{ configuration and configuration.nombre ? configuration.nombre : 'Acc' }}
              </div>
              <div id="header_breadcrumb"></div>
            </div>

            <div id="header_user" class="right">
              <span>{{ app.user.email }}</span>
              <span><b>{{ 'info.lastconn'|trans ~ ': ' }}</b>{{ app.user.lastLogin|date('H:m:s') }}</span>
            </div>
            <div class="clearfix"></div>
          </div>
        {% endblock %}
        {% if i18n_locales|length > 1 %}
          <div class="idiomasCab">
            {% for i, i18n_locale in i18n_locales %}
              {% if i > 0 %} | {% endif %} 
              {% if app.request.locale != i18n_locale %}
                <a href="{{ path('common_bundle_user_change_language', { 'lang' : i18n_locale }) }}">{{ i18n_locale|lang }}</a>
              {% else %}
                {{ i18n_locale|lang }}
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
        <nav class="top-bar" data-topbar role="navigation" id="menuBreadcrumbs" data-breadcrumbs-default="{{ 'home'|trans }}">
          <section class="top-bar-section">
            <!-- Left Nav Section -->
            <ul class="left">
              {{ app.session.get('menuTree')|menu(app.request.locale) }}
            </ul>

            <!-- Right Nav Section -->
            <ul class="right">
              <li>
                <a href="/" title="{{ 'Zona Pública'|trans }}">
                  {#<i class="fa fa-history" aria-hidden="true"></i>#}
                  <img src="/images/returnToPublic.png" style="height:18px;">
                </a>
              </li>
              <li class="divider"></li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li>
                  <a href="{{ path('common_bundle_administrator_homepage') }}" title="{{ 'home'|trans }}">
                    <img src="/images/inicioHome.png" style="height:18px;">
                  </a>
                </li>
                <li>
                  <a href="{{ path('fos_user_change_password') }}" title="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}">
                    <img src="/images/user_Blanco.png" style="height:18px;">
                  </a>
                </li>
                <li>
                  <a href="{{ path('fos_user_security_logout') }}" title="{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}" class="JSlogout">
                    <img src="/images/cerrarSesion.png"  style="height:18px;" alt="{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}"/>
                  </a>
                </li>
              {% else %}
                <li>
                  <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                </li>
              {% endif %}
            </ul>
          </section>
        </nav>
      {% endblock %}

      <div class="row">
        <div class="large-12 columns" role="content">
          {% for type, messages in app.session.flashBag.all %}  
            {% for message in messages %}
              <div data-alert class="alert-box {{ 'success' in type ? 'success' : '' }} {{ 'error' in type ? 'alert' : '' }} {{ 'warning' in type ? 'warning' : '' }}">
                {{ message | trans({}, 'FOSUserBundle') | raw }}
                <a href="#" class="close">&times;</a>
              </div>
            {% endfor %}
          {% endfor %}

          {% block container %}
            <div class="large-12 columns" role="content">
            </div>
          {% endblock %}
        </div>
      </div>

      {% block footer %}
        <footer class="row">
          <div class="large-12 columns">
            <!-- <hr /> -->
          </div>
        </footer>
      {% endblock %}

      <div id="cargando"><i class="fa fa-spin fa-spinner"></i></div>
      <div id="myModal" class="reveal-modal xlarge" data-reveal></div>

      {% block foundation_scripts %}
        <script>
          $(document).foundation({
            reveal: {
              open: function(e) {
                var modal = $(e.target);
                
                if(!modal.hasClass('tiny')){
                  modal.css('width', $(window).width() - 50 + 'px');
                  modal.css('height', $(window).height() - 50 + 'px');
                  modal.css('max-width', 'none');
                  modal.css('max-height', $(window).height() - 50 + 'px');
                }
              },
              opened: function (e) {
                if (e.namespace != 'fndtn.reveal') return;
                
                var modal = $(e.target);
                appUtil.iniciarModal(modal);
              },
              closed: function (e) {
                if (e.namespace != 'fndtn.reveal') return;

                if(!$('.reveal-modal:visible').length){
                  $('body').css('overflow', 'auto');
                }
                
                var modal = $(e.target);
                if (modal.attr('id') == 'myModal') {
                  modal.html('');
                }
                if (modal.hasClass('JSremoveOnClose')) {
                  modal.remove();
                }
              }
            }
          });

          $(document).ready(function () {
            appUtil.documentReadyFunctions();
          });
        </script>
      {% endblock %}

    {% block scripts %}{% endblock %}
  {% endblock %}
</body>
</html>
