{% extends '::modal.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}

{% block info_modal %}
  {{ parent() }}
{% endblock %}

{% block container %}
  <div class="entityEditPaginator">
    <a onclick="appUtil.modalPrevEntity(this);">
      <i class="fa fa-caret-left"></i>
    </a>
    <span class="entityEditPaginatorCurrent"></span>
    -
    <span class="entityEditPaginatorTotal"></span>
    <a onclick="appUtil.modalNextEntity(this);">
      <i class="fa fa-caret-right"></i>
    </a>
  </div>

  {% block form %}
    <ul class="tabs" data-tab>
      <li class="tab-title active"><a href="#tab_home">{{ class | trans }}</a></li>
        {% if generator.tabs | length %}
          {% for tab, tabClass in generator.tabs %}
            <li class="tab-title" {{ generator.tabs_info[tab]['info'] and generator.tabs_info[tab]['url'] ? 'data-info-url=' ~ path(generator.tabs_info[tab]['url'], generator.tabs_info[tab]['params']) : '' }}>
              <a href="#tab_{{ tab }}">
                {{ ('tab_' ~ tab) | trans }}
                <span class="tab-info"></span>
              </a>
            </li>
          {% endfor %}
        {% endif %}
    </ul>
    <div class="tabs-content">
      <div class="content active" id="tab_home">
        {{ form_start(form) }}
        {% block home_tab_content_head %}{% endblock %}
        <div class="error"> {{ form_errors(form) }} </div>
          {% for group in generator.groupedCols %}
            {% if group is iterable %}
              {% for groupName, cols in group %}
                <fieldset>
                  <legend>{{ groupName | trans }}</legend>
                  {% if generator.groupedColsEsp[groupName] is defined %}
                    {% include generator.groupedColsEsp[groupName] with { 'generator': generator, 'cols': cols, 'form': form } %}
                  {% else %}
                    {% for col in cols %}
                      {% if generator.ooRelation[col] is defined %}
                        {# 1:1 relations #}
                        <span data-field="{{ col }}"></span>
                        {% for groupTab in generator.ooRelation[col].groupedCols %}
                          {% if groupTab is iterable %}
                            {% for groupNameTab, colsTab in groupTab %}
                              <fieldset data-field="{{ col }}">
                                <legend>{{ groupNameTab | trans }}</legend>
                                {% for colTab in colsTab %}
                                  {% include '::_partials/form_row.html.twig' with {'col': colTab, 'form': form[col], 'relation': '','translatables':generator.translatables } %}
                                {% endfor %}
                              </fieldset>
                            {% endfor %}
                          {% else %}
                            {% include '::_partials/form_row.html.twig' with {'col': groupTab, 'form': form[col], 'relation': '','translatables':generator.translatables } %}
                          {% endif %}
                        {% endfor %}
                      {% else %}
                        {% include '::_partials/form_row.html.twig' with {'col': col, 'form': form, 'relation': (generator.formRelations[col] is defined ? generator.formRelations[col] : false),'translatables':generator.translatables } %}
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </fieldset>
              {% endfor %}
            {% else %}
              {% include '::_partials/form_row.html.twig' with {'col': group, 'form': form, 'relation': (generator.formRelations[group] is defined ? generator.formRelations[group] : false),'translatables':generator.translatables } %}
            {% endif %}
          {% endfor %}
          {% block home_tab_content_foot %}{% endblock %}
        {{ form_end(form) }}
      </div>
      {% if generator.tabs | length %}
        {% for tab, tabClass in generator.tabs %}
            <div class="content bloqueSeleccion" id="tab_{{ tab }}">
              <form data-rel-table='oTableRel{{ tabClass is iterable ? tabClass.relClass | replace({':': '_'}) : generator.tabGenerator[tab].options.entity }}' class='JSnoChanges JSformFilters relative' onsubmit='return false;'>       
                {% set loopFiltro = 0 %}
                {% for group, filtros in generator.tabGenerator[tab].filtros %}
                  {% if not (group in (generator.tabGenerator[tab].hideRelsFiltro | keys)) or (generator.tabGenerator[tab].hideRelsFiltro[group] | length) > 0 %}
                    {% set loopFiltro = loopFiltro + 1 %}
                    <fieldset>
                      <legend>{{ 'Filtros ' ~ group | trans }}</legend>    
                      {% if loopFiltro == 1 and tabClass is iterable %}
                        <div class='filter_element'>
                          <label class="left">{{ 'Mostrar' | trans }}</label>
                          <select class="JSnmRelFiltro JSselect2No">
                            <option value="all">{{ 'Todos' | trans }}</option>
                            <option value="asigned">{{ 'Relacionados' | trans }}</option>
                            <option value="unasigned">{{ 'No relacionados' | trans }}</option>
                          </select>
                        </div>
                      {% endif %}
                      {% for col, filtro in filtros %}
                        {% if not (group in (generator.tabGenerator[tab].hideRelsFiltro | keys)) or not (col in generator.tabGenerator[tab].hideRelsFiltro[group]) %}
                          {% if not (filtro.nmOnly is defined) or not (tabClass is iterable) or (tabClass.relClass in filtro.nmOnly) %}
                            <div class='filter_element'>
                              <label for='filtro_{{ generator.tabGenerator[tab].options.entity ~ '_' ~ col }}' class="left">{{ (filtro.label is defined ? filtro.label : generator.tabGenerator[tab].labels[col] is defined ? generator.tabGenerator[tab].labels[col] : col) | capitalize | trans }}</label>
                              {{ render(controller('AppBundle:Default:filtrosTabla', { 'filtro': filtro, 'col': col, 'entity': generator.tabGenerator[tab].options.entity, 'obj': entity })) }}
                            </div>
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    </fieldset>
                  {% endif %}
                {% endfor %}

                <div class="formFilterOptions">
                  <a class="JSformFilterAction button tiny secondary" data-action="search" onclick='appUtil.initTableFilters(this);'>{{ 'form.action.search' | trans }}</a>
                  <a class="JSformFilterAction button tiny secondary" data-action="clean" onclick='appUtil.initTableFilters(this);'>{{ 'form.action.clean' | trans }}</a>
                </div>
              </form>
            
              <div class="relative">
                {% if tabClass is iterable %}
                  {% if tabClass.refClass is defined %}
                    {# N:M relations #}
                    <div id="capaopciones">
                      <a title="{{ 'form.action.save' | trans }}" onclick="appUtil.saveNmRelation('tablaContenidoRel_{{ tabClass.relClass | replace({':': '_'}) }}', '{{ path('app_bundle_save_nm_rel') }}')">
                        <i class="fa fa-floppy-o"></i>
                      </a>
                    </div>
                    <table class="tablaContenido records_list large-12 nmRel" data-nmRel-class="{{ tabClass.relClass }}" id="tablaContenidoRel_{{ tabClass.relClass | replace({':': '_'}) }}" data-rel-class="{{ tabClass.relClass }}" data-ref-class="{{ tabClass.refClass }}">
                      <thead>
                        <tr id="cabeceraTabla">
                          {% for col in generator.tabGenerator[tab].cols %}
                            {% set label = generator.tabGenerator[tab].labels[col] is defined ? generator.tabGenerator[tab].labels[col] : col %}
                            {% if 'checkbox' in label %}
                              <th>{{ label | raw }}</th>
                            {% else %}
                              <th>{{ label | capitalize | trans }}</th>
                            {% endif %}
                          {% endfor %}
                        </tr>
                      </thead>
                    </table>
                  {% endif %}
                {% else %}
                  {# 1:N relations #}
                  <div id="capaopciones">
                    {{ render(controller('AppBundle:Default:accionesTablaRel', { 'acciones': generator.tabGenerator[tab].accionesTabla, 'route_prefix': generator.tabGenerator[tab].route_prefix, 'tabla': generator.tabGenerator[tab].options.entity, 'originId': entity.id, 'originClass': generator.class })) }}
                  </div>
                  <table class="tablaContenido records_list large-12" id="tablaContenidoRel_{{ generator.tabGenerator[tab].options.entity }}">
                    <thead>
                      <tr id="cabeceraTabla">
                        {% for col in generator.tabGenerator[tab].cols %}
                          <th>{{ (generator.tabGenerator[tab].labels[col] is defined ? generator.tabGenerator[tab].labels[col] : col) | capitalize | trans }}</th>
                          {% endfor %}
                      </tr>
                    </thead>
                  </table>
                {% endif %}
                <div class="clearfix"></div>
              </div>
            </div>
        {% endfor %}
      {% endif %}  
    </div>

  {% endblock %}

  {% block extra_contain %}
    <input type='hidden' class='modal_form_entity_id' value='{{ entity.id }}'/>
    <input type='hidden' class='modal_form_valid' value='{{ valid }}'/>
  {% endblock %}
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      form_prefix = 'form' + '{{ class }}';
      var $form = $('#JSmodalForm_' + '{{ class }}');
      var $modal = $form.closest('.reveal-modal');

      $('.entity_form_info', $modal).hide();
      appUtil.formularioModalAjax($form, $modal, '{{ class }}');
      appUtil.addRelationForm($form);

      if ($('.reveal-modal').filter(':visible').length > 0) {
    {% for hideRel in generator.hideRels %}
          var field = $('#' + form_prefix + '_' + '{{ hideRel }}');
          if (field.length && field.val()) {
            field.closest('.entity_form_row').hide();
          }
    {% endfor %}
        }

    {% if generator.tabs | length %}
      {% for tab, tabClass in generator.tabs %}
          var options = {
            'paginaTabla': 0,
            'busquedaTabla': '',
            'entity_id': '{{ entity.id }}',
            'entity_class': '{{ class }}'
          };

          {% for key, val in generator.tabGenerator[tab].options %}
            options['{{ key }}'] = '{{ val | raw }}';
          {% endfor %}

          {% if generator.tabs_info[tab]['info'] %}
            options['tabInfo'] = true;
          {% endif %}

          appUtil.createDataTableRel('{{ tabClass is iterable ? tabClass.relClass | replace({':': '_'}) : generator.tabGenerator[tab].options.entity }}', options);
      {% endfor %}
    {% endif %}
      });
      
    
  </script>
{% endblock %}

