{% extends '::base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/jtables/js/jquery.dataTables.min.1.10.js') }}" type="text/javascript"></script>
  <script src="{{ asset('js/jtables/js/jquery.dataTables.utilidades.js') }}" type="text/javascript"></script>
  <script src="{{ asset('js/jtables/js/jquery.jeditable.min.js') }}" type="text/javascript"></script>
  <script src="{{ asset('js/jtables/js/dataTables.responsive.js') }}" type="text/javascript"></script>
{% endblock %}

{% block container %}
    {% block titulo_cabecera %}
      <h1>{{ 'Lista'|trans }}</h1>
    {% endblock %}

    {% block content %}
      {% block filters %}
        {% if generator.filtros | length %}
          <form data-rel-table='oTable{{ generator.options.entity }}' class='JSnoChanges JSformFilters relative' onsubmit='return false;'>             
              {% for group, filtros in generator.filtros %}
                <fieldset>
                  <legend>{{ ('Filtros ' ~ group) | trans }}</legend>    
                  {% for col, filtro in filtros %}
                    {% if not (filtro.nmOnly is defined) %}
                      <div class='filter_element'>
                        <label for='filtro_{{ generator.options.entity ~ '_' ~ col }}' class="left">{{ (filtro.label is defined ? filtro.label : generator.labels[col] is defined ? generator.labels[col] : col) | capitalize | trans }}</label>
                        {{ render(controller('AppBundle:Default:filtrosTabla', { 'filtro': filtro, 'col': col, 'entity': generator.options.entity })) }}
                      </div>
                    {% endif %}
                  {% endfor %}
                </fieldset>   
              {% endfor %}
              
              <div class="formFilterOptions">
                <a class="JSformFilterAction button tiny secondary" data-action="search" onclick='appUtil.initTableFilters(this);'>{{ 'form.action.search' | trans }}</a>
                <a class="JSformFilterAction button tiny secondary" data-action="clean" onclick='appUtil.initTableFilters(this);'>{{ 'form.action.clean' | trans }}</a>
              </div>
          </form>
        {% endif %}
      {% endblock %}

      <div class="bloqueSeleccion">
        <div id="capaopciones">
          {{ render(controller('AppBundle:Default:accionesTabla', { 'acciones': generator.accionesTabla, 'route_prefix': generator.route_prefix, 'tabla': generator.options.entity })) }}
        </div>
        <table class="tablaContenido records_list large-12" id="tablaContenido_{{ generator.options.entity }}">
          <thead>
              <tr id="cabeceraTabla">
                {% for col in generator.cols %}
                  <th>{{ (generator.labels[col] is defined ? generator.labels[col] : col) | capitalize | trans }}</th>
                {% endfor %}
              </tr>
          </thead>
        </table>
        <div class="clearfix"></div>
      </div>
    {% endblock %}
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function(){
      var options = {
        'paginaTabla': 0,
        'busquedaTabla': ''
      };
      
      {% for key, val in generator.options %}
        options['{{ key }}'] = '{{ val | raw }}';
      {% endfor %}

      appUtil.createDataTable('{{ generator.options.entity }}', options, '');
    });
  </script>
{% endblock %}

