{% block stylesheets %}
  <link href="{{ asset('css/archivo.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/jquery.form.min.js') }}" type="text/javascript"></script>
  <script src="{{ asset('js/ajaxfileupload.js') }}" type="text/javascript"></script>
{% endblock %}

{% block info_modal %}
  {% if cabecera is defined or (cabeceraOrigin is defined and cabeceraOrigin != false) %}
    <div class='info_modal'> 
      {% if cabeceraOrigin is defined and cabeceraOrigin != false %}
        {% if cabecera is defined %} <div class="info_origin"> {% endif %} 
        {% include '::_partials/head.html.twig' with {'cabecera': cabeceraOrigin, 'sufix': 'origin', 'entityName': (cabecera is defined)} %}
        {% if cabecera is defined %} </div> {% endif %} 
      {% endif %}   
      
      {% if cabecera is defined %}
        {% include '::_partials/head.html.twig' with {'cabecera': cabecera, 'sufix': 'default', 'entityName': false } %}
      {% endif %}
    </div>
  {% endif %}
{% endblock %}

<div class="row">
  <div class="large-12 columns" role="content">
    {% for type, messages in app.session.flashBag.all %}  
      {% for message in messages %}
        <div data-alert class="alert-box {{ 'success' in type ? 'success' : '' }} {{ 'error' in type ? 'alert' : '' }}">
          {{ message|trans({}, 'FOSUserBundle') }}
          <a href="#" class="close">&times;</a>
        </div>
      {% endfor %}
    {% endfor %}

    {% block container %}{% endblock %}
  </div>
</div>
      
{% block scripts %}{% endblock %}
