{% extends '::modal.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}

{% block info_modal %}
  {{ parent() }}
{% endblock %}

{% block container %}
  {% block form %}
    <ul class="tabs" data-tab>
      <li class="tab-title active"><a href="#tab_home">{{ class | trans }}</a></li>
    </ul>
    <div class="tabs-content">
      <div class="content active" id="tab_home">
        {{ form_start(form) }}
          <div class="error"> {{ form_errors(form) }} </div>

          {% for group in generator.groupedCols %}
            {% if group is iterable %}
              {% for groupName, cols in group %}
                <fieldset>
                  <legend>{{ groupName | trans }}</legend>
                  {% if generator.groupedColsEsp[groupName] is defined %}
                    {% include generator.groupedColsEsp[groupName] with { 'generator': generator, 'cols': cols, 'form': form } %}
                  {% else %}
                    {% for col in cols %}
                      {% if generator.ooRelations[col] is defined %}
                        {# 1:1 relations #}
                        <span data-field="{{ col }}"></span>
                        {% for groupTab in generator.ooRelation[col].groupedCols %}
                          {% if groupTab is iterable %}
                            {% for groupNameTab, colsTab in groupTab %}
                              <fieldset>
                                <legend>{{ groupNameTab | trans }}</legend>
                                {% for colTab in colsTab %}
                                  {% include '::_partials/form_row.html.twig' with {'col': colTab, 'form': form[col], 'relation': '','translatables':generator.translatables } %}
                                {% endfor %}
                              </fieldset>
                            {% endfor %}
                          {% else %}
                            {% include '::_partials/form_row.html.twig' with {'col': groupTab, 'form': form[col], 'relation': '','translatables':generator.translatables} %}
                          {% endif %}
                        {% endfor %}
                      {% else %}
                        {% include '::_partials/form_row.html.twig' with {'col': col, 'form': form, 'relation': (generator.formRelations[col] is defined ? generator.formRelations[col] : false),'translatables':generator.translatables } %}
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </fieldset>
              {% endfor %}
            {% else %}
              {% include '::_partials/form_row.html.twig' with {'col': group, 'form': form, 'relation': (generator.formRelations[group] is defined ? generator.formRelations[group] : false),'translatables':generator.translatables} %}
            {% endif %}
          {% endfor %}

          {% block hidden_inputs %} {% endblock%}
        {{ form_end(form) }}
      </div>
    </div>
  {% endblock %}

  {% block extra_contain %}
    <input type='hidden' class='modal_form_valid' value='{{ valid }}'/>
    <input type='hidden' class='modal_form_tabs' value='{{ entity.getId() ? path(generator.route_prefix ~ '_edit', {'id': entity.getId()}) : '' }}'/>
  {% endblock %}

{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      form_prefix = 'form' + '{{ class }}';
      var $form = $('#JSmodalForm_' + '{{ class }}');
      var $modal = $form.closest('.reveal-modal');
      
      appUtil.formularioModalAjax($form, $modal, '{{ class }}');
      appUtil.addRelationForm($form);
      
      
      if($('.reveal-modal').length > 1){
        {% for hideRel in generator.hideRels %}
          var field = $('#' + form_prefix + '_' + '{{ hideRel }}');
          if(field.length && field.val()){
            field.closest('.entity_form_row').hide();
          }
        {% endfor %}
      }
        
    });
  </script>
{% endblock %}

