{% extends '::modal.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}

{% block container %}
    {% block titulo_cabecera %}
      <h2>{{ 'Ver'|trans }}</h2>
    {% endblock %}

    {% block content %}
      {% if generator.groupedCols |length %}
        {% for group in generator.groupedCols %}
          {% if group is iterable %}
            {% for groupName, cols in group %}
              <fieldset>
                <legend>{{ groupName | trans }}</legend>
                {% for col in cols %}
                  {% include '::_partials/show_row.html.twig' with {'col': col, 'entity': entity, 'labels': generator.labels } %}
                {% endfor %}
              </fieldset>
            {% endfor %}
          {% else %}
            {% include '::_partials/show_row.html.twig' with {'col': group, 'entity': entity, 'labels': generator.labels} %}
          {% endif %}
        {% endfor %}
      {% else %}
        {% for col in generator.cols %}
          {% include '::_partials/show_row.html.twig' with {'col': col, 'entity': entity, 'labels': generator.labels} %}
        {% endfor %}
      {% endif %}
    {% endblock %}
{% endblock %}
