{% extends 'base.html.twig' %}

{% block body %}
  {% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
      <div class="{{ type }}">
        {{ message|trans({}, 'FOSUserBundle') }}
      </div>
    {% endfor %}
  {% endfor %}

  <div id="capacentro" style="padding-top: 20px;">
    <div class="login-header login-caret">
      <div class="login-content"> 
        {% set configuration = app.session.get('conf') %}
        {% if configuration and configuration.nombre %}
          {% set nombre = configuration.nombre | split(' ') %}
          <strong>{{ nombre[0] | upper }}</strong>{{ (nombre | length) > 1 ? ( nombre | slice(1) | join | upper ) : '' }}
        {% else %}
          <strong>Promokiss</strong>
        {% endif %}
      </div>
    </div>

    <div class="capacentro2">
      {% if error is defined and error %}
        <div data-alert class="alert-box alert">
          {{ error|trans({}, 'FOSUserBundle') }}
          <a href="#" class="close">&times;</a>
        </div>
      {% endif %}
      {% block fos_user_content %}
      {% endblock fos_user_content %}
    </div>
  </div>
  {% block foundation_scripts %}{{ parent() }}{% endblock %}
{% endblock %}
