{% extends '::edit.html.twig' %}

{# {% block container %}
    <h1>{{ 'Menu edit'|trans }}</h1>

    {{ form(edit_form) }}

        <ul class="record_actions no-bullet">
    <li>
        <a href="{{ path('menu') }}">
            {{ 'form.action.back'|trans }}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
 #}