{% extends '::index.html.twig' %}

{% block title %}{{ 'Menu'|trans }} | {{ parent() }}{% endblock %}

{% block titulo_cabecera %}
    <h1>{{ 'Menu'|trans }}</h1>
{% endblock %}

{# {% block container %}
    <h1>{{ 'Menu list'|trans }}</h1>

    <table class="records_list large-12">
        <thead>
            <tr>
                <th>{{ 'Id'|trans }}</th>
                <th>{{ 'Nombre'|trans }}</th>
                <th>{{ 'Bundle'|trans }}</th>
                <th>{{ 'Controlador'|trans }}</th>
                <th>{{ 'Accion'|trans }}</th>
                <th>{{ 'Menuid'|trans }}</th>
                <th>{{ 'Created'|trans }}</th>
                <th>{{ 'Updated'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('menu_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.bundle }}</td>
                <td>{{ entity.controlador }}</td>
                <td>{{ entity.accion }}</td>
                <td>{{ entity.parentId }}</td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul class="no-bullet">
                    <li>
                        <a href="{{ path('menu_show', { 'id': entity.id }) }}" class="actionLink action_show">{{ 'form.action.show'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('menu_edit', { 'id': entity.id }) }}" class="actionLink action_edit">{{ 'form.action.edit'|trans }}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul class="inline-list">
        <li>
            <a href="{{ path('menu_new') }}" class="button">
                {{ 'form.action.new'|trans }}
            </a>
        </li>
    </ul>
    {% endblock %}
 #}