{% extends '::show.html.twig' %}

{% block titulo_cabecera %}
  <h2>{{ 'Menu'|trans }}</h2>
{% endblock %}

{# 
{% block container %}
    <h1>{{ 'Menu'|trans }}</h1>

    <table class="record_properties large-12">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Bundle</th>
                <td>{{ entity.bundle }}</td>
            </tr>
            <tr>
                <th>Controlador</th>
                <td>{{ entity.controlador }}</td>
            </tr>
            <tr>
                <th>Accion</th>
                <td>{{ entity.accion }}</td>
            </tr>
            <tr>
                <th>Menuid</th>
                <td>{{ entity.parentId }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ entity.updated|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions no-bullet">
    <li>
        <a href="{{ path('menu') }}">
            {{ 'form.action.back'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('menu_edit', { 'id': entity.id }) }}">
            {{ 'form.action.edit'|trans }}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
 #}