<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
  <div class="login-form">
    <div class="login-content">
      
      {% if invalid_username is defined %}
        <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
      {% endif %}
      
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-user"></i>
          </div>
          <input type="text" id="username" class="form-control" name="username" required="required" placeholder="{{ 'resetting.request.email'|trans({}, 'FOSUserBundle') }}"/>
        </div>
      </div>

      <div class="form-group-send">
        <button type="submit" class="button tiny"><i class="fa fa-refresh"></i>{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}</button>
      </div>
    </div>
  </div>
</form>
