<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
  <div class="login-form">
    <div class="login-content">
      {{ form_errors(form) }}
      
      {{ form_errors(form.new.first) }}
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-key"></i>
          </div>
          {{ form_widget(form.new.first, {'attr': {'autocomplete': 'off','class': 'form-control', 'placeholder': 'form.new_password'|trans({}, 'FOSUserBundle') }}) }}
        </div>
      </div>
        
      {{ form_errors(form.new.second) }}
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-key"></i>
          </div>
          {{ form_widget(form.new.second, {'attr': {'class': 'form-control', 'placeholder': 'form.new_password_confirmation'|trans({}, 'FOSUserBundle') }}) }}
        </div>
      </div>
        
      {{ form_end(form) }}
       <div class="form-group-send">
        <button type="submit" class="button tiny"><i class="fa fa-refresh"></i>{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}</button>
      </div>
    </div>
  </div>
</form>
