{% extends "PromokissPublicBundle:Default:base.html.twig" %}
{% block container %}
	<div class="loginContent row text-center">
		<div class="large-6 large-centered columns">
{% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
</div>
</div>
{% endblock %}
