@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700,700italic);

// Colores generales
//Color incial base: #00acd0 // #008aa6

$gris: #888888;
$rosa:	#ff156e;

$fondocabecera: #fff;
$colortxtcabecera: #000;

$colorCabeceraTabla: $rosa; // #5893d5
$colorCabeceraTablaAct: darken($rosa, 20);

$colorSelect2: $rosa; // #5893d5

$CalendarioCabbgcolor: $rosa; // #5893d5

$BotonesFondo: $rosa; // #5893d5
$BotonesFondoSecondary: #b9b9b9; // #5893d5

$selectedTableRow: lighten($rosa, 38);

//@import "estructura/foundation";			// foundation
@import "estructura/configuracion";			// CONFIGURACION PROYECTO
@import "estructura/foundationVO";			// foundation
@import "estructura/cabecera";				// CABECERA
@import "estructura/tablaDatos";			// TABLADATOS
@import "estructura/contenidos";			// CONTENIDOS
@import "estructura/select2";				// JS Select
@import "estructura/modal";					// MODAL
@import "estructura/fullcalendar";			// FULLCALENDAR

@import "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";  // Fontawesome 


body { font-family: 'Source Sans Pro', sans-serif; font-size: 16px; }
h1, h2, h3, h4, h5, h6 { font-family: 'Source Sans Pro', sans-serif; }

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea, label { font-size: .85rem; }

ul.campoResult { font-size: .85rem; }

ul.opcioncampoContent li { font-size: .85rem; }

.entityEditPaginator { float: right; }

legend {
    text-transform: lowercase;
}
legend:first-letter {
    text-transform: uppercase;
}

.entityEditPaginator {
	a { color: $rosa!important; }
}