<?php

namespace {{ namespace }}\Controller{{ controller_namespace ? '\\' ~ controller_namespace : '' }};

{% block use_statements %}
use Symfony\Component\HttpFoundation\Request;

{% if 'annotation' == format -%}
use Sensio\Bundle\FrameworkExtraBundle\Configuration\Method;
use Sensio\Bundle\FrameworkExtraBundle\Configuration\Route;
use Sensio\Bundle\FrameworkExtraBundle\Configuration\Template;
{%- endif %}

use {{ namespace }}\Document\{{ document }};
{% if 'new' in actions or 'edit' in actions %}
use {{ namespace }}\Form\{{ document }}Type;
{% endif %}

use AppBundle\Controller\DocumentController as AppController;

{% endblock use_statements %}

/**
{% block phpdoc_class_header %}
 * {{ document }} controller.
{% endblock phpdoc_class_header %}
 *
{% block phpdoc_class_annotations %}
{% if 'annotation' == format %}
 * @Route("/{{ route_prefix }}")
{% endif %}
{% endblock phpdoc_class_annotations %}
 */
{% block class_definition %}
class {{ document_class }}Controller extends AppController
{% endblock class_definition %}
{
{% block class_body %}
    {%- if 'index' in actions %}
        {%- include 'actions/index.php.twig' %}
    {%- endif %}

    {%- if 'new' in actions %}
{#        {%- include 'crud/actions/create.php.twig' %}#}
        {%- include 'actions/new.php.twig' %}
    {%- endif %}

    {%- if 'show' in actions %}
        {%- include 'actions/show.php.twig' %}
    {%- endif %}

    {%- if 'edit' in actions %}
        {%- include 'actions/edit.php.twig' %}
{#        {%- include 'crud/actions/update.php.twig' %}#}
    {%- endif %}

    {%- if 'delete' in actions %}
        {%- include 'actions/delete.php.twig' %}
    {%- endif %}
{% endblock class_body %}
}
