<ul class="record_actions no-bullet">
    <li>
        <a href="{{ "{{ path('" ~ route_name_prefix ~ "') }}" }}">
            {{ "{{ 'form.action.back'|trans }}" }}
        </a>
    </li>
{% if ('edit' in actions) and (not hide_edit) %}
    <li>
        <a href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': entity."~ identifier ~" }) }}" }}">
            {{ "{{ 'form.action.edit'|trans }}" }}
        </a>
    </li>
{% endif %}
{% if ('delete' in actions) and (not hide_delete) %}
    <li>{{ '{{ form(delete_form) }}' }}</li>
{% endif %}
</ul>
