
    /**
{% block phpdoc_method_header %}
     * Lists all {{ entity }} entities.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/", name="{{ route_name_prefix }}")
     * @Method("GET")
     * @Template()
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function indexAction(Request $request, $class = '{{ entity }}')
{% endblock method_definition %}
    {
{% block method_body %}{% endblock method_body %}
{% block method_return %}
        return parent::indexAction($request, $class);
{% endblock method_return %}
    }
    
