
    /**
{% block phpdoc_method_header %}
     * Displays a form to create a new {{ entity }} entity.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/new", name="{{ route_name_prefix }}_new")
     * @Method({"GET", "POST"})
     * @Template()
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function newAction(Request $request, $class = '{{ entity }}')
{% endblock method_definition %}
    {
{% block method_body %}{% endblock method_body %}
{% block method_return %}
          return parent::newAction($request, $class);
{% endblock method_return %}
    }
