
    /**
{% block phpdoc_method_header %}
     * Finds and displays a {{ entity }} entity.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/{id}", name="{{ route_name_prefix }}_show")
     * @Method("GET")
     * @Template()
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function showAction($id, Request $request, $class = '{{ entity }}')
{% endblock method_definition %}
    {
{% block method_body %}{% endblock method_body %}
{% block method_return %}
        return parent::showAction($id, $request, $class);
{% endblock method_return %}
    }
