{% extends 'base.html.twig' %}

{% block container %}
  <h1>{{ 'titles.config' | trans }}</h1>

  <form action="{{ path('common_bundle_administrator_config') }}" {{ form_enctype(form) }} method="POST">
    <div class="row">
      {{ form_errors(form) }}
      <div class="small-9 columns">
        <fieldset>
          <legend>{{ 'Datos generales' | trans }}</legend>
            {{ form_row(form.nombre) }}
            {{ form_row(form.email) }}
            {{ form_row(form.web) }}
        </fieldset>
        <fieldset>
          <legend>{{ 'Control de usuarios' | trans }}</legend>
            {{ form_row(form.resetearClabe) }}
            {{ form_row(form.conexionSimultanea) }}
        </fieldset>
      </div>
      <div class="small-3 columns">
        <div class="panel panel_mini" style="margin-top: 10px;">
          <label><b>{{ 'Logo' | trans }}</b></label>
          <p class="text-center">
            <img src="/{{ conf and conf.logo ? conf.getWebPath() : 'images/logo-ACC_peq.png' }}"/>
          </p>
          {{ form_errors(form.file) }}
          {{ form_widget(form.file) }}
        </div>
        <div class="panel panel_mini" style="margin-top: 10px;">
          <label><b>{{ 'Favicon' | trans }}</b></label>
          {% if (conf and conf.favicon) %}
            <p class="text-center">
              <img src="uploads/logos/favicon.ico"/>
            </p>
          {% endif %}
          {{ form_errors(form.fileFavicon) }}
          {{ form_widget(form.fileFavicon) }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-9 columns">
        <fieldset>
          <legend>{{ 'Envio de emails' | trans }}</legend>
          {{ form_row(form.senderEmail) }}
          {{ form_row(form.senderHost) }}
          {{ form_row(form.senderEncryption) }}
          {{ form_row(form.senderPort) }}
          {{ form_row(form.senderUser) }}
          {{ form_row(form.senderPass) }}
        </fieldset>
      </div>
      <div class="small-3 columns">
        <div class="panel panel_mini" style="margin-top: 10px;">
          <p><b>GMAIL</b></p>
          <ul>
            <li>{{ 'Sender host'|trans ~ ': smtp.gmail.com'}}</li>
            <li>{{ 'Sender encryption'|trans ~ ': ssl'}}</li>
            <li>{{ 'Sender port'|trans ~ ': 465'}}</li>
          </ul>
          <p><b>LOCAL</b></p>
          <ul>
            <li>{{ 'Sender host'|trans ~ ': localhost'}}</li>
            <li>{{ 'Sender encryption'|trans ~ ': ~'}}</li>
            <li>{{ 'Sender port'|trans ~ ': 25'}}</li>
          </ul>
        </div>
      </div>
    </div>     
      
    <div>
      <button class="button tiny" type="submit" formnovalidate >{{ 'form.action.save'|trans }}</button>
    </div>
    
    {{ form_end(form) }}
      
{% endblock %}