{# empty Twig template #}
{% import "AppBundle::translation_macros.html.twig" as a2lixTranslations %}

{% if form[col] is defined %}
  {% set formField = form[col] %}

  {% if relation == 'collection' %}
    <fieldset class="entity_relation_form_row">
        <div class="legendModal">
          {{ form_label(formField) }}
          <a href="#" class="add-another-relation" data-col="{{ col }}">
            <i class="fa fa-plus"></i>
          </a>
        </div>
      
      <ul class="fields-list" data-prototype="{{ form_widget(formField.vars.prototype)|e }}">
        {% for relField in formField %}
          <li>
            {{ form_errors(relField) }}
            {{ form_widget(relField) }}
          </li>
        {% endfor %}
      </ul>
      
      <div class="hide">{{ form_widget(formField) }}</div>
    </fieldset>
  {% else %}
    <div class="entity_form_row">
      {% if not ('hidden' in formField.vars['block_prefixes']) %}
        <div class="entity_form_error">{{ form_errors(formField) }}</div>
        <div class="entity_form_label">{{ form_label(formField) }}</div>
      {% endif %}
      <div class="entity_form_widget">
        {% if formField.vars.attr['readonly'] is defined and formField.vars.attr['readonly'] %}
          <span class="entity_form_widget_readonly">
            {% if formField.vars.attr['readonlyTxt'] is defined %}
              {{ formField.vars.attr['readonlyTxt'] | raw }}
            {% else %}
              {{ formField.vars.value }}
            {% endif %}
          </span>

          <div class="hide">
            {{ form_widget(formField) }}
          </div>
        {% else %}
          {{ form_widget(formField) }}
        {% endif %}
      </div>
    </div>
  {% endif %}

{% else %}
  {% if translatables is defined %}
    {% if col in translatables %}
      <div class="entity_form_widget">
        {{ a2lixTranslations.partialTranslationsNoTabs(form.translations, col) }}      
      </div>
    {% endif %}
  {% endif %}
{% endif %}

