
<div class='field info_modal_title'>
  {{ cabecera.class | capitalize | trans }}
</div>

{% for iHeadCol, headCol in cabecera.head %}
  <div class='field'>
    <b>{{ headCol | capitalize | trans }}:</b> {{ cabecera.data[iHeadCol] | raw }}
  </div>
{% endfor %}
<div class='field fieldExtra'>
  <b>{{ 'Id' | trans }}:</b> {{ cabecera.info.id }}
</div>
{% if cabecera.info.created is defined %}
	<div class='field fieldExtra'>
	  <b>{{ 'entity.column.created' | trans }}:</b> {{ cabecera.info.created | localizeddate('short', 'short', app.request.locale) }}
	</div>
{% endif %}
{% if cabecera.info.updated is defined %}
	<div class='field fieldExtra'>
	  <b>{{ 'entity.column.updated' | trans }}:</b> {{ cabecera.info.updated | localizeddate('short', 'short', app.request.locale) }}
	</div>
{% endif %}
<input type="hidden" class="head_info_{{ sufix }}" data-id="{{ cabecera.info.id }}" data-class="{{ cabecera.info.class }}"/>