{# empty Twig template #}

<div class="entity_show_row">
  <div class="entity_show_label">{{ (labels[col] is defined ? generator.labels[col] : col) | capitalize | trans }}</div>
  <div class="entity_show_value">{{ entity[col] | raw }}</div>
</div>