@import url("http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css");
.manipulate_image_content_back {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2000;
}
.manipulate_image_content_back .manipulate_image_content {
	position: relative;
	width: 95%;
	height: 95%;
	background-color: white;
	top: 1%;
	margin: 0 auto;
	padding: 4rem 2rem 2rem 2rem;
}
.manipulate_image_content_back .manipulate_image_content .resize_content {
	position: relative;
	overflow: auto;
	display: block;
	height: 100%;
	width: 100%;
	border: 1px solid #bababa;
}
.manipulate_image_content_back .manipulate_image_content .button_content {
	position: absolute;
	top: 0.5rem;
	right: 2rem;
}
.manipulate_image_content_back .manipulate_image_content .button_content .button {
	margin: 0 1rem;
}
.manipulate_image_content_back .manipulate_image_content .resize_content img {
	max-width: none;
}
.manipulate_image_content_back .manipulate_image_content .resize_content .image_resize_content {
	display: inline-block;
}
.manipulate_image_content_back .manipulate_image_content .resize_content .image_resize {
	position: absolute;
	left: 0;
	top: 0;
	border: 3px solid transparent;
	background-color: transparent;
	cursor: move;
	box-sizing: border-box;
	-webkit-border-image: url('/uploads/border2.png') 15% round; /* Safari 3.1-5 */
	-o-border-image: url('/uploads/border2.png') 15% round; /* Opera 11-12.1 */
	border-image: url('/uploads/border2.png') 15% round;
}
.archivo_single_content {
	display: block;
	margin: 1rem 0 !important;
	padding: 1rem;
	position: relative;
	border: 1px solid #ddd;
}
.archivo_help {
	font-size:0.75rem;
}
.archivo_help.margin1 {
	margin-top: 1rem;
}
.archivo_help:after{
	content: ' ';
	display: table;
	clear: both;
}
.archivo_help .archivo_help_one {
	float: left;
	padding: 0.3rem 0.5rem;
	border: 1px solid #bababa;
	background-color: #eee;
	margin-left: 0.5rem;
	margin-bottom: 0.5rem;
}
.archivo_help .archivo_help_one .archivo_help_text {
	font-weight: bold;
}
.v_center {
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	display: block;
	position: relative;
	margin: 0 auto;
}
.archivo_content {
	padding: 1rem;
	background-color: #f4f4f4;
}
.archivo_content .archivo_widget {
	width: 150px !important;
	background-color: white;
	overflow: hidden;
	height: 215px;
}
.archivo_content[data-image="1"] .archivo_widget {
	/*border: none;*/
	border: 1px solid #e0e0e0;
}
.archivo_content:not([data-image="1"]) .archivo_widget {
	border: 1px solid #e0e0e0;
}
.archivo_widget {
	position: relative;
	padding: 0;
	margin: 0 0.5rem;
}
.archivo_widget:first-of-type {
	margin-left: 0;
}
.archivo_widget .archivo_opciones {
	position:absolute;
	top: 0;
	left: 0;
	z-index: 100;
}
.archivo_widget .archivo_edit {
	position:relative;
}
.archivo_widget .archivo_remove {
	position:relative;
}
.archivo_widget i.fa {
	font-size: 1rem;
	background-color: rgba(255,255,255,1);
	padding: 0.5rem;
	color: black;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
	opacity: 0.7;
	cursor: pointer;
	z-index:100;
}
.archivo_widget i.fa:hover {
	color: #97cd0d;
	opacity: 0.9;
	background-color: rgba(50,50,50,1);
}
.archivo_widget .archivo_thumbnail {
	max-height: 150px;
	max-width: 150px;
}
.archivo_widget .archivo_icon {
	height: 150px;
	width: 100%;
	position: relative;
	text-align: center;
	border-bottom: 1px solid #bababa;
	background-color: black;
}
.archivo_widget .archivo_loading {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index:200;
	text-align: center;
	background-color:rgba(0,0,0,0.6);
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
	display: none;
}
.archivo_widget .archivo_loading i.fa {
	color: yellow;
	font-size: 3rem;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	background-color: transparent;
}
.archivo_widget .archivo_icon i.fa {
	color: grey;
	font-size: 3rem;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	background-color: black;
}
.archivo_widget .archivo_icon i.fa:hover {
	color: #97cd0d;
}
.archivo_widget .archivo_link {
	text-align:right;
	padding: 0.5rem 0.5rem 0 0.5rem;
}
.archivo_widget .archivo_link a {
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 0.7rem;
	color: #222;
}
.archivo_widget .archivo_info {
	font-size: 0.7rem;
	padding: 0 0.5rem 0.5rem 0.5rem;
	color: #999;
}
.archivo_widget .archivo_info > div {
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: right;
}
.archivo_widget .archivo_file {
	display:none;
}
.add_archivo {
	color: #555;
	font-size: 1.5rem;
	-moz-transition: all, 0.3s, ease-in-out;
	-o-transition: all, 0.3s, ease-in-out;
	-webkit-transition: all, 0.3s, ease-in-out;
	transition: all, 0.3s, ease-in-out;
	margin-left: 0.5rem;
}
.add_archivo:hover {
	color: #97cd0d;
}
.archivo_content:after {
	 content: ' ';
	 display: table;
	 clear: both;
}
.archivo_content [class*="column"] + [class*="column"]:last-child {
	float: left;
}
.archivo_error {
	display:none;
}