@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700,700italic);
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
.top-bar {
  background: #fff;
  padding: 0;
  margin-bottom: 3em;
}
.top-bar .top-bar-top {
  background: #242424;
}
.top-bar .top-bar-top ul {
  background: none;
  text-align: right;
}
.top-bar .top-bar-top ul li {
  display: inline;
}
.top-bar .top-bar-top ul li a {
  color: #fff;
  text-transform: none;
  font-size: .85em;
  padding: .5em;
  display: inline-block;
}
.top-bar .top-bar-left {
  padding: 1em 0;
}
.top-bar .top-bar-left ul {
  background: none;
}
.top-bar .top-bar-left ul li img {
  margin-right: 1em;
}
.top-bar .top-bar-left ul li a {
  color: #888888;
  text-transform: uppercase;
  font-size: .9em;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.top-bar .top-bar-left ul li a:hover {
  color: #000;
}
.top-bar .top-bar-right {
  padding: 1.5em 0 0 0;
}
.top-bar .top-bar-right ul {
  background: none;
}
.top-bar .top-bar-right ul li a {
  color: #888888;
  text-transform: uppercase;
  font-size: .9em;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.top-bar .top-bar-right ul li a:hover {
  color: #000;
}
.top-bar .top-bar-right ul li .botonCabecera {
  color: #000;
  text-transform: uppercase;
  font-size: .9em;
  border: 1px solid #000;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.top-bar .top-bar-right ul li .botonCabecera:hover {
  background: #000;
  color: #fff;
}
.top-bar .top-bar-right ul li.usuario {
  color: #888888;
  font-size: .8em;
}
@media screen and (max-width: 1023px) {
  .top-bar .top-bar-top {
    background: #242424;
  }
  .top-bar .top-bar-left {
    float: none;
  }
  .top-bar .top-bar-left ul li {
    display: block;
  }
  .top-bar .top-bar-right {
    float: none;
    padding: 0;
  }
  .top-bar .top-bar-right ul li {
    display: block;
  }
  .top-bar .top-bar-right ul li a.botonCabecera {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
    color: #888888;
  }
  .top-bar .top-bar-right ul li a.botonCabecera:hover {
    color: #000;
    background: none;
  }
}

.top-bar-premium ul {
  background: none;
}
.top-bar-premium ul li {
  display: block;
}
.top-bar-premium .top-bar-left {
  float: none !important;
}

#realEstateMenuMovil {
  display: none;
  background: #333;
  margin-top: -2em;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
}
#realEstateMenuMovil ul li a {
  color: #fff;
  text-transform: uppercase;
  padding: 1em;
}
#realEstateMenuMovil ul li.usuario, #realEstateMenuMovil ul li.idiomas {
  color: #fff;
  text-transform: uppercase;
  padding: 1em;
  margin-top: 1em;
  font-weight: 600;
  border-top: 1px solid #666666;
}

#realEstateMenuPremium {
  display: none;
  background: #333;
  margin-top: 0;
  position: absolute;
  left: 0;
  right: 0;
}
#realEstateMenuPremium ul li a {
  color: #fff;
  text-transform: uppercase;
  padding: 1em;
}
#realEstateMenuPremium ul li.usuario, #realEstateMenuPremium ul li.idiomas {
  color: #fff;
  text-transform: uppercase;
  padding: 1em;
  margin-top: 1em;
  font-weight: 600;
  border-top: 1px solid #666666;
}

@media screen and (max-width: 1023px) {
  #realEstateMenu {
    display: none !important;
  }
}
#menuTopMovil {
  background: #242424;
  margin-bottom: 2em;
}
#menuTopMovil .large-6 {
  width: 33%;
  float: left;
}
#menuTopMovil .logoMovil {
  text-align: center;
}

#menuTopMovilPremium {
  background: #242424;
  margin-bottom: 0;
}
#menuTopMovilPremium .large-6 {
  width: 33%;
  float: left;
}
#menuTopMovilPremium .logoMovil {
  text-align: center;
}

footer {
  background: #222;
  padding: .5em 0;
  color: #797979;
  font-size: .9em;
  margin-top: 3em;
}
footer ul li {
  margin: 0 3em 0 0;
}
footer ul li a {
  color: #797979;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
footer ul li a:hover {
  color: #fff;
}
footer ul li a:focus {
  color: #fff;
}
footer ul li .byaccPie {
  display: inline-block;
}
footer ul li .byaccPie img {
  margin-top: .15em;
}
@media screen and (max-width: 1023px) {
  footer ul.menu li {
    display: block;
  }
}

.promocionCompleta {
  background: #fff;
  padding: 0;
  margin: 0 0 2em 0;
  position: relative;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
}
.promocionCompleta .large-8 {
  padding-left: 0;
}
.promocionCompleta .large-8 p {
  margin: 0;
}
.promocionCompleta .large-8 img {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.promocionCompleta .large-8:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
.promocionCompleta .large-4 {
  padding: 2em 0 0 0;
}
.promocionCompleta .lead {
  text-transform: uppercase;
}
.promocionCompleta .lead a {
  color: #000;
  font-weight: 600;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.promocionCompleta .lead a:hover {
  color: #ff156e;
}
.promocionCompleta .inscrito {
  margin-top: 2em;
  font-weight: 600;
  padding-left: 1.5em;
}
.promocionCompleta .inscrito:before {
  content: "";
  color: #27ae60;
  font-family: fontawesome;
  display: inline-block;
  margin-right: .5em;
  margin-left: -1.5em;
}
.promocionCompleta .cuentaAtras {
  position: absolute;
  bottom: 1em;
  color: #a7a7a7;
}
.promocionCompleta .cuentaAtras:before {
  content: "";
  color: #ff156e;
  font-family: fontawesome;
  display: inline-block;
  margin-right: .5em;
}
@media screen and (min-width: 40em) {
  .promocionCompleta {
    width: 95% !important;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .promocionCompleta .large-8 {
    padding: 0;
  }
  .promocionCompleta .large-8 img {
    width: 100%;
    height: auto;
  }
  .promocionCompleta .large-4 {
    padding: 2em;
  }
  .promocionCompleta .cuentaAtras {
    position: relative;
    bottom: inherit;
    margin-top: 2em;
  }
}
@media screen and (max-width: 639px) {
  .promocionCompleta {
    width: 95% !important;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .promocionCompleta .large-8 {
    padding: 0;
  }
  .promocionCompleta .large-8 img {
    width: 100%;
    height: auto;
  }
  .promocionCompleta .large-4 {
    padding: 2em;
  }
  .promocionCompleta .cuentaAtras {
    position: relative;
    bottom: inherit;
    margin-top: 2em;
  }
}

.leadAnteriores {
  text-transform: uppercase;
  color: #535353;
  font-weight: 700;
  text-align: center;
  font-size: 1.2em;
  margin: 3em 0 2em 0;
}
.leadAnteriores:after {
  content: "";
  height: 1px;
  width: 3em;
  display: block;
  position: relative;
  background: #535353;
  margin: 1em auto;
}

.promocion {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
}
.promocion .callout {
  border: none;
  padding: 0;
}
.promocion .callout img {
  width: 100%;
  height: auto;
}
.promocion .callout .lead {
  text-transform: uppercase;
  line-height: 1.2;
}
.promocion .callout .lead a {
  color: #000;
  font-weight: 600;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.promocion .callout .lead a:hover {
  color: #ff156e;
}
.promocion .callout .contenido {
  padding: 1em;
}

.fichaPromociones .infoPromo {
  background: #fff;
  padding: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  margin: 0 0 2em 0;
}
.fichaPromociones .infoPromo:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.fichaPromociones .infoPromo .large-8 {
  padding: 0;
}
.fichaPromociones .infoPromo .large-4 {
  padding: 2em;
  color: #888888;
}
.fichaPromociones .infoPromo .large-4 h1 {
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3em;
  margin-bottom: 1.5em;
}
.fichaPromociones .infoPromo .large-4 .detalles {
  padding: 0;
  margin: 0;
}
.fichaPromociones .infoPromo .large-4 .detalles li {
  padding: .5em 0;
  border-bottom: none;
  list-style: none;
}
.fichaPromociones .infoPromo .large-4 .detalles li i {
  color: #ff156e;
  margin-right: .5em;
}
.fichaPromociones .infoPromo .large-4 .detalles li strong {
  color: #000;
  font-weight: 600;
}
.fichaPromociones .infoPromo .large-4 .addthis_sharing_toolbox {
  margin-top: 1.5em;
}
.fichaPromociones .cajaInfo {
  background: #fff;
  padding: 2em;
  color: #888888;
}
.fichaPromociones .cajaInfo h2 {
  color: #535353;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.1em;
  margin-bottom: 1em;
}
.fichaPromociones .tablaAcciones {
  background: #fff;
  padding: 2em;
  color: #888888;
}
.fichaPromociones .tablaAcciones h2 {
  color: #535353;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.1em;
  margin-bottom: 1em;
}
.fichaPromociones .tablaAcciones table {
  width: 100%;
  border: none;
  font-size: 1em;
}
.fichaPromociones .tablaAcciones table tbody {
  border: none;
  background: #fff;
}
.fichaPromociones .tablaAcciones table thead {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #000;
}
.fichaPromociones .tablaAcciones table thead tr th {
  background: #fff;
  text-align: center;
}
.fichaPromociones .tablaAcciones table tfoot {
  background: #fff;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: 2px solid #000;
}
.fichaPromociones .tablaAcciones table th {
  font-weight: bold;
  color: #000;
  font-size: 1em;
  padding: .5em 0;
}
.fichaPromociones .tablaAcciones table td {
  color: #000;
  font-size: 1em;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: .5em 0;
}
.fichaPromociones .tablaAcciones table tr:nth-child(even) {
  background-color: #fff;
}
.fichaPromociones .lista_ganadores {
  margin: 2em 0 0 0;
  background: #fff;
  padding: 2em;
  color: #888888;
}
.fichaPromociones .lista_ganadores h3 {
  color: #535353;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.1em;
}
.fichaPromociones .promocionContent2 {
  background: #fff;
  padding: 2em;
  color: #888888;
}
.fichaPromociones .promocionContent2 h2 {
  color: #535353;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.1em;
  margin-bottom: 1em;
}
.fichaPromociones .promocionContent2 label {
  color: #000;
}
.fichaPromociones .promocionContent2 input[type="text"], .fichaPromociones .promocionContent2 input[type="email"] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #fff;
}
.fichaPromociones .promocionContent2 select {
  max-width: 100%;
  background-color: #fff;
}
.fichaPromociones .promocionContent2 a {
  color: #ff156e;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.fichaPromociones .promocionContent2 a:hover {
  color: #000;
}
.fichaPromociones .promocionContent2 input[type=file], .fichaPromociones .promocionContent2 input[type=checkbox], .fichaPromociones .promocionContent2 input[type=radio] {
  margin: 0;
}
.fichaPromociones .promocionContent2 .campoOpt {
  margin: 0 0 .5em 0;
}
.fichaPromociones .promocionContent2 .campoOpt label {
  margin: 0 !important;
  color: #888888;
}
.fichaPromociones .promocionContent2 .pregunta {
  margin: 1em 0;
}
.fichaPromociones .promocionContent2 .pregunta label {
  font-size: 1em;
  margin-bottom: 1em;
}
.fichaPromociones .promocionContent2 .required > label:after {
  content: "*";
  display: inline-block;
  margin-left: .25em;
  color: #ff156e;
}
.fichaPromociones #respuesta_msg {
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  color: #27ae60;
  margin-bottom: 2em;
}
.fichaPromociones h4 {
  color: #ff156e;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 600;
}
.fichaPromociones .accion {
  margin: 0 0 2em 0;
  padding: 0 0 2em 0;
  border-bottom: 1px solid #ccc;
}
.fichaPromociones .accion:last-child {
  border-bottom: none;
}
.fichaPromociones #completar_datos:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.fichaPromociones input[readonly] {
  background: #fef6d2 !important;
  border: none;
}

#misdatos_msg, #acceso_msg {
  text-align: center;
  font-weight: 600;
  margin: 2em 0;
  background: #edfcd5;
  border: 1px solid #c3ea81;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 1em 0;
}

#misdatos_msg_error, #acceso_msg_error {
  text-align: center;
  font-weight: 600;
  margin: 2em 0;
  background: #f9e3d9;
  border: 1px solid #f2ae91;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 1em 0;
}

.miCuenta {
  background: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 2em;
}
.miCuenta h1 {
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3em;
  margin-bottom: 2em;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: .5em;
}
.miCuenta input[type="text"], .miCuenta input[type="email"], .miCuenta input[type="password"] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.loginContent h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 1em;
}
.loginContent .large-6 .large-11 {
  background: #fff;
  padding: 2em 0;
}
.loginContent .large-6 .large-11 form {
  width: 90%;
  margin: 0 auto;
}
.loginContent .large-6 .large-11 form input[type="text"], .loginContent .large-6 .large-11 form input[type="email"], .loginContent .large-6 .large-11 form input[type="password"] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.loginContent .large-6 .large-11 .login-bottom-links a {
  color: #888888;
  margin: 1em 0;
}
.loginContent .large-6 .large-11 .inicio_facebook {
  margin: 2em 0 0 0;
}
.loginContent .large-6 .large-11 .checkbox a {
  color: #ff156e;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.loginContent .large-6 .large-11 .checkbox a:hover {
  color: #000;
}
.loginContent .login-form .form-group-send button {
  background: #ff156e;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  color: #fff;
  text-transform: uppercase;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 2em auto 0 auto;
  display: block;
}
.loginContent .login-form .form-group-send button:hover {
  background: #000;
}
.loginContent #login_error {
  color: #ca1b1b;
  font-weight: bold;
}

.contacto {
  background: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 2em;
}
.contacto h1 {
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3em;
  margin-bottom: 2em;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: .5em;
}
.contacto input[type="text"], .contacto input[type="email"], .contacto input[type="password"] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.contacto textarea {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 10em;
}
.contacto button {
  background: #ff156e;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  color: #fff;
  text-transform: uppercase;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 2em auto 0 auto;
  display: block;
  padding: .85em 1em;
  font-size: .9rem;
  vertical-align: middle;
  text-align: center;
  font-weight: 600;
  line-height: 1;
}
.contacto button:hover {
  background: #000;
}
.contacto .entity_form_info {
  display: none;
}

.pagina {
  background: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 2em;
}
.pagina h1 {
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3em;
  margin-bottom: 2em;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: .5em;
}
.pagina h2 {
  font-weight: 600;
  text-align: left;
  font-size: 1.5em;
  line-height: 1.2;
  color: #000;
  margin-top: 2em;
  margin-bottom: 1em;
}
.pagina p {
  color: #888888;
}
.pagina p a {
  color: #ff156e;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.pagina p a:hover {
  color: #000;
}
.pagina ul {
  list-style: none;
  padding-left: 2em;
}
.pagina ul li {
  color: #888888;
  margin: 0 0 .5em 0;
}
.pagina ul li:before {
  content: "";
  color: #ff156e;
  font-family: fontawesome;
  display: inline-block;
  margin-right: .5em;
  margin-left: -.85em;
}
.pagina input[type="text"], .pagina input[type="email"], .pagina input[type="password"] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pagina textarea {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 10em;
}
.pagina button {
  background: #ff156e;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  color: #fff;
  text-transform: uppercase;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 2em auto 0 auto;
  display: block;
  padding: .85em 1em;
  font-size: .9rem;
  vertical-align: middle;
  text-align: center;
  font-weight: 600;
  line-height: 1;
}
.pagina button:hover {
  background: #000;
}
.pagina .entity_form_info {
  display: none;
}

#pasosEmpresa .columns img {
  max-width: 180px;
}
#pasosEmpresa .columns h3 {
  font-weight: 300;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.2;
  color: #000;
}
#pasosEmpresa .columns p {
  color: #888888;
  text-align: center;
  margin: 0 0 .5em 0;
}

table img {
  border: none;
}
table.display {
  margin: 0 auto;
  width: 100%;
  clear: both;
}
table.display th.primero {
  border-right: none;
}
table.display th.opciones {
  border-left: none;
}
table.display tr.heading2 td {
  border-bottom: 1px solid #aaa;
  border-right: 1px solid white;
}
table thead tr th {
  padding: 3px 18px 3px 10px;
  background: #f6ab01;
  cursor: default;
  /*Columna sin ordenamiento*/
  height: 25px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}
table tfoot th {
  padding: 3px 5px 3px 5px;
  cursor: default;
  /*Columna sin ordenamiento*/
  height: 20px;
  font-weight: bold;
  text-align: right;
}
table td {
  padding: 3px 5px;
  vertical-align: middle;
  min-height: 20px;
}

.dataTables_wrapper {
  position: relative;
  clear: both;
  zoom: 1;
  z-index: 0;
}

.dataTables_processing {
  position: absolute;
  top: 7rem;
  left: 50%;
  width: 250px;
  height: 50px;
  margin-left: -125px;
  margin-top: -15px;
  padding: 14px 0 2px 0;
  border: 1px solid #ddd;
  text-align: center;
  color: #999;
  font-size: 14px;
  background-color: white;
}

.dataTables_length {
  height: 30px;
  text-align: center;
  background-color: #F0F0F0;
  color: #787878;
  float: right;
  padding: 6px 10px 6px 10px;
  margin: 10px 0 0 0;
  font-size: 11px !important;
}
.dataTables_length select {
  margin: 0 5px;
  padding: 0;
  display: inline;
  width: 55px;
  height: 20px;
  font-size: 11px;
}

.dataTables_filter {
  height: 30px;
  float: right;
  text-align: left;
  background: #f0f0f0;
  margin: 10px 0 0 0;
  padding: 6px 10px 6px 10px;
  font-size: 11px !important;
}
.dataTables_filter input {
  margin: 0 5px;
  padding: 0;
  display: inline;
  width: 180px;
  height: 20px;
  font-size: 11px;
}

.dataTables_info {
  float: left;
  padding: 5px;
}

.dataTables_paginate {
  width: 44px;
  float: right;
  margin: 0 15px 0 0;
  text-align: right;
  width: auto;
}

.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #555;
}

/* Pagination nested */
.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next {
  height: 19px;
  width: 19px;
  margin-left: 3px;
  float: left;
}

.sorting_asc {
  background: #b27b01 url("../images/sort_asc.png") no-repeat center right;
  color: #fff;
}

.sorting_desc {
  background: #b27b01 url("../images/sort_desc.png") no-repeat center right;
  color: #fff;
}

.sorting {
  background: #f6ab01 url("../images/sort_both.png") no-repeat center right;
  color: #fff;
}

.sorting_asc_disabled, .sorting_disabled {
  background: #f6ab01 url("../images/sort_asc_disabled.png") no-repeat center right;
}

.sorting_desc_disabled {
  background: #f6ab01 url("../images/sort_desc_disabled.png") no-repeat center right;
}

.sorting_disabled {
  background: #f6ab01;
}

tr.odd {
  background-color: #fff;
}

tr.even {
  background-color: #ffffff;
}

tr.odd .tdOpciones {
  background-color: #fff !important;
}

tr.even .tdOpciones {
  background-color: #ffffff !important;
}

tbody tr.odd:hover, tbody tr.even:hover {
  background-color: #EEFFDB !important;
}

.thOpciones, .tdOpciones {
  text-align: right;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * Misc */
.top, .bottom {
  padding: 15px;
  background-color: #F5F5F5;
  border: 1px solid #CCCCCC;
}

.top .dataTables_info {
  float: none;
}

.clear {
  clear: both;
}

.dataTables_empty, .centrado, .dtCentrado {
  text-align: center;
}

tfoot input {
  margin: 0.5em 0;
  width: 100%;
  color: #444;
}

tfoot input.search_init {
  color: #999;
}

td.group {
  background-color: #d1cfd0;
  border-bottom: 2px solid #A19B9E;
  border-top: 2px solid #A19B9E;
}

td.details {
  background-color: #d1cfd0;
  border: 2px solid #A19B9E;
}

.example_alt_pagination div.dataTables_info {
  width: 40%;
}

.paging_full_numbers {
  height: 22px;
  line-height: 22px;
}
.paging_full_numbers a {
  color: #333;
}
.paging_full_numbers a.current {
  background: #dddddd;
}

.paging_full_numbers .paginate_button, .paging_full_numbers .paginate_active {
  padding: 2px 5px;
  margin: 0 3px;
  cursor: pointer;
  *cursor: hand;
}

.paging_full_numbers .paginate_button {
  background-color: #f7f7f7;
}

.paging_full_numbers .paginate_button:hover {
  background-color: #dddddd;
}

.paging_full_numbers .paginate_active {
  background-color: #f6ab01;
  color: #FFF;
}

table tr.even.row_selected td {
  background-color: #ffe0cc;
}

table tr.odd.row_selected td {
  background-color: #ffe0cc;
}

table.KeyTable td {
  border: 3px solid transparent;
}

div.box {
  height: 100px;
  padding: 10px;
  overflow: auto;
  border: 1px solid #8080FF;
  background-color: #E5E5FF;
}

/*cambios dmcorporative*/
#capaFiltro {
  width: 200px;
  text-align: right;
  background: #f0f0f0;
  margin: 0 3px 5px 0;
  padding: 6px 15px 7px 15px;
  position: absolute;
  top: 40px;
  right: 481px;
  z-index: 5;
}

select#filtro {
  float: left;
  font-size: 11px;
  margin: 0 5px 0 0;
}

/*comenzamos la tabla*/
#tablaContenido {
  clear: both;
  font-family: Arial, Helvetica, sans-serif;
}

.tablaContenido {
  clear: both;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: solid 1px #CDCDCD;
  margin-bottom: 2px;
  width: 100%;
  border-spacing: 1px;
  background: #ddd;
}

table tr th, table tr td, table thead tr th, table thead tr td {
  font-size: 0.75em;
}

.lista_relaciones {
  max-height: 65px;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 1em;
}
.lista_relaciones li {
  white-space: nowrap;
  line-height: 1.05rem;
}

table#tablaContenido_Permisos {
  border-spacing: 1px;
  background: #ddd;
  border: none;
}
table#tablaContenido_Permisos thead tr th {
  background: #f6ab01;
}
table#tablaContenido_Permisos tbody tr th, table#tablaContenido_Permisos tbody tr td {
  background: #fff;
}
table#tablaContenido_Permisos tbody tr:hover th, table#tablaContenido_Permisos tbody tr:hover td {
  background: #f1f1f1;
}
table#tablaContenido_Permisos tbody tr td {
  text-align: center;
}
table#tablaContenido_Permisos tbody tr td a {
  display: block;
}

@media only screen and (max-width: 1024px) {
  /*#tablaContenido_Congreso {
  	tbody tr td:nth-child(4) a {display:block; width:16px; height:16px; text-indent: 50px; overflow:hidden;
  		&:before {content:""; font-family:fontawesome; display:block;color: #000; font-size: 1.2em; text-indent: 0;} 
  		&:hover {@include opacity(0.5);}
  	}
  } */
}
.bloqueSeleccion {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

#capaopciones {
  left: 0;
  margin: 0 0 0 .5em;
  position: absolute;
  top: 0;
  z-index: 1;
}
#capaopciones a {
  color: #555;
  font-size: 1.5em;
  -moz-transition: all, 0.3s, ease-in-out;
  -o-transition: all, 0.3s, ease-in-out;
  -webkit-transition: all, 0.3s, ease-in-out;
  transition: all, 0.3s, ease-in-out;
  padding: 0 .2em;
}
#capaopciones .anadirRegistro:hover {
  color: #97cd0d;
}
#capaopciones .eliminarRegistros:hover {
  color: #ca1b1b;
}
#capaopciones .seleccionarTodos:hover {
  color: #97cd0d;
}
#capaopciones .deseleccionarTodos:hover {
  color: #cdcdcd;
}

.tabs-content #capaopciones {
  margin-top: 0.35rem;
}

tbody td.tdOpciones a {
  color: #555;
  font-size: 1.4em;
  padding: 0 0.2em;
  transition: all 0.3s ease-in-out 0s;
}

table.dataTable.dtr-inline.collapsed tbody td:first-child,
table.dataTable.dtr-inline.collapsed tbody th:first-child {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

table.dataTable.dtr-inline.collapsed tbody td:first-child:before,
table.dataTable.dtr-inline.collapsed tbody th:first-child:before {
  top: 8px;
  left: 4px;
  height: 16px;
  width: 16px;
  display: block;
  position: absolute;
  color: white;
  border: 2px solid white;
  border-radius: 16px;
  text-align: center;
  line-height: 14px;
  box-shadow: 0 0 3px #444;
  box-sizing: content-box;
  content: '+';
  background-color: #31b131;
}

table.dataTable.dtr-inline.collapsed tbody td:first-child.dataTables_empty:before,
table.dataTable.dtr-inline.collapsed tbody th:first-child.dataTables_empty:before {
  display: none;
}

table.dataTable.dtr-inline.collapsed tbody tr.parent td:first-child:before,
table.dataTable.dtr-inline.collapsed tbody tr.parent th:first-child:before {
  content: '-';
  background-color: #d33333;
}

table.dataTable.dtr-inline.collapsed tbody tr.child td:before {
  display: none;
}

table.dataTable.dtr-column tbody td.control,
table.dataTable.dtr-column tbody th.control {
  position: relative;
  cursor: pointer;
}

table.dataTable.dtr-column tbody td.control:before,
table.dataTable.dtr-column tbody th.control:before {
  top: 50%;
  left: 50%;
  height: 16px;
  width: 16px;
  margin-top: -10px;
  margin-left: -10px;
  display: block;
  position: absolute;
  color: white;
  border: 2px solid white;
  border-radius: 16px;
  text-align: center;
  line-height: 14px;
  box-shadow: 0 0 3px #444;
  box-sizing: content-box;
  content: '+';
  background-color: #31b131;
}

table.dataTable.dtr-column tbody tr.parent td.control:before,
table.dataTable.dtr-column tbody tr.parent th.control:before {
  content: '-';
  background-color: #d33333;
}

table.dataTable tr.child {
  padding: 0.5em 1em;
}

table.dataTable tr.child:hover {
  background: transparent !important;
}

table.dataTable tr.child ul {
  /*display: inline-block;*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1em;
}

table.dataTable tr.child ul li {
  border-bottom: 1px solid #efefef;
  padding: 0.5em 0;
  white-space: nowrap;
}

table.dataTable tr.child ul li:first-child {
  padding-top: 0;
}

table.dataTable tr.child ul li:last-child {
  border-bottom: none;
}

table.dataTable tr.child span.dtr-title {
  display: inline-block;
  min-width: 75px;
  font-weight: bold;
}

table.dataTable tr.child span.dtr-data ul li {
  width: auto;
  float: left;
  padding: 0 .4em 0 .4em;
  border: none;
  border-right: solid 1px #cdcdcd;
}
table.dataTable tr.child span.dtr-data ul li:last-child {
  border: none;
}

.tdCheckbox {
  width: 1.5rem;
}
.tdCheckbox .JScheckboxAll {
  margin-bottom: 0;
}

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  color: black;
}
.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  /*height: 2.3125rem;*/
  user-select: none;
  -webkit-user-select: none;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  /*display: block;*/
  overflow: hidden;
  padding-left: 8px;
  padding-right: 20px;
  text-overflow: ellipsis;
  font-size: 0.75rem;
}
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
  font-size: 0.75rem;
}
.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  /*min-height: 32px;*/
  user-select: none;
  -webkit-user-select: none;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
}
.select2-container .select2-search--inline {
  float: left;
}
.select2-container .select2-search--inline .select2-search__field {
  border: none;
  font-size: 100%;
  margin-top: 5px;
}

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-results {
  display: block;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 6px;
  font-size: .75rem;
  user-select: none;
  -webkit-user-select: none;
}

.select2-results__option[aria-selected] {
  cursor: pointer;
}

.select2-container--open .select2-dropdown {
  left: 0;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-search--dropdown {
  display: block;
  padding: 4px;
}
.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}
.select2-search--dropdown.select2-search--hide {
  display: none;
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #cccccc;
  /*padding: 0.2rem;  */
  overflow: hidden;
  height: 1.7rem;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 23px;
  font-size: 0.75rem;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 1.5rem;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #cccccc;
  cursor: text;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}

.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  color: #999;
  margin-top: 5px;
  float: left;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #cccccc;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  font-size: 0.75rem;
  padding: 0 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder {
  float: right;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
}

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--default .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd;
}

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #f6ab01;
  color: white;
}

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--classic .select2-selection--single {
  background-color: #f6f6f6;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: -webkit-linear-gradient(top, #ffffff 50%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #ffffff 50%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, #ffffff 50%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
}

.select2-container--classic .select2-selection--single:focus {
  border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 23px;
}

.select2-container--classic .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-right: 10px;
}

.select2-container--classic .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
  background-color: #ddd;
  border: none;
  border-left: 1px solid #aaa;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
  background-image: -o-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
  background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);
}

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto;
}

.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
  background: transparent;
  border: none;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #eeeeee 50%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #eeeeee 50%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #eeeeee 50%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
}

.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0;
}

.select2-container--classic .select2-selection--multiple:focus {
  border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
  list-style: none;
  margin: 0;
  padding: 0 5px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__clear {
  display: none;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
  color: #888;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #555;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: right;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0;
}

.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
}

.select2-container--classic .select2-dropdown {
  background-color: white;
  border: 1px solid transparent;
}

.select2-container--classic .select2-dropdown--above {
  border-bottom: none;
}

.select2-container--classic .select2-dropdown--below {
  border-top: none;
}

.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--classic .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--classic .select2-results__option[aria-disabled=true] {
  color: grey;
}

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #3875d7;
  color: white;
}

.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb;
}

.reveal-modal {
  top: 2em;
}
.reveal-modal .row h2 {
  font-size: 1.1em;
  border-bottom: solid 1px #cdcdcd;
  padding: 0 0 .2em 0;
  margin: 0 0 1em 0;
}
.reveal-modal .row .entity_form_row {
  display: inline-block;
  width: auto;
  vertical-align: top;
  margin-right: 0.5rem;
}
.reveal-modal .row .entity_form_label {
  width: auto;
  display: block;
  vertical-align: top;
}
.reveal-modal .row .entity_form_label label {
  padding: 0.2rem 0 0 0;
}
.reveal-modal .row .entity_form_label .entity_form_info {
  margin-right: 0.3rem;
}
.reveal-modal .row .columns label {
  padding: 0.2rem 0 0 0;
}
.reveal-modal .row .entity_form_widget {
  display: block;
}
.reveal-modal .row .entity_form_widget a.newRelObject {
  color: #c0c0c0;
  display: inline-block;
  padding: 0 0.3em;
  -moz-transition: all, 0.3s, ease-in-out;
  -o-transition: all, 0.3s, ease-in-out;
  -webkit-transition: all, 0.3s, ease-in-out;
  transition: all, 0.3s, ease-in-out;
  font-size: 1.2em;
}
.reveal-modal .row .entity_form_widget a.newRelObject:hover {
  color: #97cd0d;
}
.reveal-modal .row .entity_form_widget textarea {
  width: 100%;
}
.reveal-modal .row .entity_form_widget .entity_form_widget_readonly {
  font-size: 0.75rem;
  font-style: italic;
}
.reveal-modal .row .entity_relation_form_row ul li {
  border-top: solid 1px #cdcdcd;
  padding-top: .6em;
}
.reveal-modal .row .entity_relation_form_row ul li:first-child {
  border-top: none;
  padding-top: inherit;
}
.reveal-modal .row .entity_relation_form_row ul li input, .reveal-modal .row .entity_relation_form_row ul li select {
  margin: 0;
}
.reveal-modal .row .entity_relation_form_row ul li .row {
  vertical-align: top;
}
.reveal-modal .row fieldset.entity_relation_form_row {
  background: #f1f1f1;
  padding-top: 0.5rem;
  position: relative;
}
.reveal-modal .row fieldset.entity_relation_form_row legend {
  background: none;
}
.reveal-modal .row fieldset.entity_relation_form_row .legendModal {
  display: block;
  border-bottom: solid 1px #cdcdcd;
  margin: 0 0 1em 0;
  padding: 0 0 .5em 0;
}
.reveal-modal .row fieldset.entity_relation_form_row .legendModal:after {
  display: block;
  clear: both;
  content: "";
}
.reveal-modal .row fieldset.entity_relation_form_row .legendModal label {
  width: auto;
  float: left;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.reveal-modal .row fieldset.entity_relation_form_row .legendModal i {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  color: #97cd0d;
  font-weight: bold;
  -moz-transition: all, 0.3s, ease-in-out;
  -o-transition: all, 0.3s, ease-in-out;
  -webkit-transition: all, 0.3s, ease-in-out;
  transition: all, 0.3s, ease-in-out;
  font-size: 1.2em;
}
.reveal-modal .row fieldset.entity_relation_form_row .legendModal i:hover {
  color: #000;
}
.reveal-modal .row fieldset.entity_relation_form_row ul.fields-list li span {
  margin-bottom: 0;
}
.reveal-modal .row fieldset.entity_relation_form_row ul.fields-list li a.newRelObject {
  color: #c0c0c0;
  display: inline-block;
  padding: .3em;
  -moz-transition: all, 0.3s, ease-in-out;
  -o-transition: all, 0.3s, ease-in-out;
  -webkit-transition: all, 0.3s, ease-in-out;
  transition: all, 0.3s, ease-in-out;
}
.reveal-modal .row fieldset.entity_relation_form_row ul.fields-list li a.newRelObject:hover {
  color: #97cd0d;
}
.reveal-modal .row fieldset.entity_relation_form_row ul.fields-list li a.delete-relation {
  color: #ca1b1b;
  display: inline-block;
  padding: 0 .3em;
  margin: 0em;
  -moz-transition: all, 0.3s, ease-in-out;
  -o-transition: all, 0.3s, ease-in-out;
  -webkit-transition: all, 0.3s, ease-in-out;
  transition: all, 0.3s, ease-in-out;
  font-size: 1.5em;
}
.reveal-modal .row fieldset.entity_relation_form_row ul.fields-list li a.delete-relation:hover {
  color: #000;
}
.reveal-modal .row form {
  position: relative;
}
.reveal-modal .row form .form_button_row {
  position: absolute;
  top: -0.8em;
  right: 0;
}
.reveal-modal .row form .form_button_row a, .reveal-modal .row form .form_button_row button {
  margin-left: 0.5rem;
}
.reveal-modal .row .dataTables_filter label, .reveal-modal .row .dataTables_length label {
  padding: 0;
}
.reveal-modal .row .entityEditPaginator {
  display: inline-block;
  float: right;
  font-size: 0.9rem;
}
.reveal-modal .row .entityEditPaginator a {
  color: #f6ab01;
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding: 0 0.5rem;
}
.reveal-modal .row .entityEditPaginator * {
  vertical-align: bottom;
}
.reveal-modal .info_modal {
  font-size: 0.72rem;
  margin: -1rem 0 0.5rem 0.9rem;
  border-bottom: 2px solid #f6ab01;
}
.reveal-modal .info_modal div, .reveal-modal .info_modal .field div {
  display: inline-block;
}
.reveal-modal .info_modal .field {
  vertical-align: top;
  border: 1px solid #DDDDDD;
  padding: 0.3em 0.5em;
  background: #EEEEEE;
  margin-bottom: 0.2rem;
}
.reveal-modal .info_modal .field b {
  vertical-align: top;
}
.reveal-modal .info_modal .info_modal_title {
  font-weight: bold;
  background: #DDDDDD;
  text-transform: uppercase;
}
.reveal-modal .info_modal .fieldExtra {
  background: #ffe8d7;
}
.reveal-modal .info_modal .info_origin {
  display: block;
  border-bottom: 2px solid #f6ab01;
  margin-bottom: 0.5rem;
}

.eventIcon {
  margin: 0.2em 0.5em 0.2em 0.1em;
  float: left;
}

/*!
 * FullCalendar v2.2.7 Stylesheet
 * Docs & License: http://arshaw.com/fullcalendar/
 * (c) 2013 Adam Shaw
 */
.fc {
  direction: ltr;
  text-align: left;
}

.fc-rtl {
  text-align: right;
}

body .fc {
  /* extra precedence to overcome jqui */
  font-size: 1em;
}

/* Colors
--------------------------------------------------------------------------------------------------*/
.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed hr,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-row,
.fc-unthemed .fc-popover {
  border-color: #ddd;
}

.fc-unthemed .fc-popover {
  background-color: #fff;
}

.fc-unthemed hr,
.fc-unthemed .fc-popover .fc-header {
  background: #eee;
}

.fc-unthemed .fc-popover .fc-header .fc-close {
  color: #666;
}

.fc-unthemed .fc-today {
  background: #fcf8e3;
}

.fc-highlight {
  /* when user is selecting cells */
  background: #bce8f1;
  opacity: .3;
  filter: alpha(opacity=30);
  /* for IE */
}

.fc-bgevent {
  /* default look for background events */
  background: #8fdf82;
  opacity: .3;
  filter: alpha(opacity=30);
  /* for IE */
}

.fc-nonbusiness {
  /* default look for non-business-hours areas */
  /* will inherit .fc-bgevent's styles */
  background: #ccc;
}

/* Icons (inline elements with styled text that mock arrow icons)
--------------------------------------------------------------------------------------------------*/
.fc-icon {
  display: inline-block;
  font-size: 2em;
  line-height: .5em;
  height: .5em;
  /* will make the total height 1em */
  font-family: "Courier New", Courier, monospace;
}

.fc-icon-left-single-arrow:after {
  content: "\02039";
  font-weight: bold;
}

.fc-icon-right-single-arrow:after {
  content: "\0203A";
  font-weight: bold;
}

.fc-icon-left-double-arrow:after {
  content: "\000AB";
}

.fc-icon-right-double-arrow:after {
  content: "\000BB";
}

.fc-icon-x:after {
  content: "\000D7";
}

/* Buttons (styled <button> tags, normalized to work cross-browser)
--------------------------------------------------------------------------------------------------*/
.fc button {
  /* force height to include the border and padding */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* dimensions */
  margin: 0;
  height: 2.1em;
  padding: 0 .6em;
  /* text & cursor */
  font-size: .6em;
  /* normalize */
  white-space: nowrap;
  cursor: pointer;
}

/* Firefox has an annoying inner border */
.fc button::-moz-focus-inner {
  margin: 0;
  padding: 0;
}

.fc-state-default {
  /* non-theme */
  border: 1px solid;
}

.fc-state-default.fc-corner-left {
  /* non-theme */
  /*	border-top-left-radius: 4px;
  	border-bottom-left-radius: 4px;*/
}

.fc-state-default.fc-corner-right {
  /* non-theme */
  /*	border-top-right-radius: 4px;
  	border-bottom-right-radius: 4px;*/
}

/* icons in buttons */
.fc button .fc-icon {
  /* non-theme */
  position: relative;
  top: .05em;
  /* seems to be a good adjustment across browsers */
  margin: 0 .1em;
}

/*
  button states
  borrowed from twitter bootstrap (http://twitter.github.com/bootstrap/)
*/
.fc-state-default {
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled {
  color: #333333;
  background-color: #e6e6e6;
}

.fc-state-hover {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

.fc-state-down,
.fc-state-active {
  background-color: #cccccc;
  background-image: none;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.fc-state-disabled {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}

/* Buttons Groups
--------------------------------------------------------------------------------------------------*/
.fc-button-group {
  display: inline-block;
}

/*
every button that is not first in a button group should scootch over one pixel and cover the
previous button's border...
*/
.fc .fc-button-group > * {
  /* extra precedence b/c buttons have margin set to zero */
  float: left;
  margin: 0 0 0 -1px;
}

.fc .fc-button-group > :first-child {
  /* same */
  margin-left: 0;
}

/* Popover
--------------------------------------------------------------------------------------------------*/
.fc-popover {
  position: absolute;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.fc-popover .fc-header {
  padding: 2px 4px;
}

.fc-popover .fc-header .fc-title {
  margin: 0 2px;
}

.fc-popover .fc-header .fc-close {
  cursor: pointer;
}

.fc-ltr .fc-popover .fc-header .fc-title,
.fc-rtl .fc-popover .fc-header .fc-close {
  float: left;
}

.fc-rtl .fc-popover .fc-header .fc-title,
.fc-ltr .fc-popover .fc-header .fc-close {
  float: right;
}

/* unthemed */
.fc-unthemed .fc-popover {
  border-width: 1px;
  border-style: solid;
}

.fc-unthemed .fc-popover .fc-header .fc-close {
  font-size: 25px;
  margin-top: 4px;
}

/* jqui themed */
.fc-popover > .ui-widget-header + .ui-widget-content {
  border-top: 0;
  /* where they meet, let the header have the border */
}

/* Misc Reusable Components
--------------------------------------------------------------------------------------------------*/
.fc hr {
  height: 0;
  margin: 0;
  padding: 0 0 2px;
  /* height is unreliable across browsers, so use padding */
  border-style: solid;
  border-width: 1px 0;
}

.fc-clear {
  clear: both;
}

.fc-bg,
.fc-bgevent-skeleton,
.fc-highlight-skeleton,
.fc-helper-skeleton {
  /* these element should always cling to top-left/right corners */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.fc-bg {
  bottom: 0;
  /* strech bg to bottom edge */
}

.fc-bg table {
  height: 100%;
  /* strech bg to bottom edge */
}

/* Tables
--------------------------------------------------------------------------------------------------*/
.fc table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
  /* normalize cross-browser */
}

.fc th {
  text-align: center;
}

.fc th,
.fc td {
  border-style: solid;
  border-width: 1px;
  padding: 0;
  vertical-align: top;
}

.fc td.fc-today {
  border-style: double;
  /* overcome neighboring borders */
}

/* Fake Table Rows
--------------------------------------------------------------------------------------------------*/
.fc .fc-row {
  /* extra precedence to overcome themes w/ .ui-widget-content forcing a 1px border */
  /* no visible border by default. but make available if need be (scrollbar width compensation) */
  border-style: solid;
  border-width: 0;
}

.fc-row table {
  /* don't put left/right border on anything within a fake row.
     the outer tbody will worry about this */
  border-left: 0 hidden transparent;
  border-right: 0 hidden transparent;
  /* no bottom borders on rows */
  border-bottom: 0 hidden transparent;
}

.fc-row:first-child table {
  border-top: 0 hidden transparent;
  /* no top border on first row */
}

/* Day Row (used within the header and the DayGrid)
--------------------------------------------------------------------------------------------------*/
.fc-row {
  position: relative;
}

.fc-row .fc-bg {
  z-index: 1;
}

/* highlighting cells & background event skeleton */
.fc-row .fc-bgevent-skeleton,
.fc-row .fc-highlight-skeleton {
  bottom: 0;
  /* stretch skeleton to bottom of row */
}

.fc-row .fc-bgevent-skeleton table,
.fc-row .fc-highlight-skeleton table {
  height: 100%;
  /* stretch skeleton to bottom of row */
}

.fc-row .fc-highlight-skeleton td,
.fc-row .fc-bgevent-skeleton td {
  border-color: transparent;
}

.fc-row .fc-bgevent-skeleton {
  z-index: 2;
}

.fc-row .fc-highlight-skeleton {
  z-index: 3;
}

/*
row content (which contains day/week numbers and events) as well as "helper" (which contains
temporary rendered events).
*/
.fc-row .fc-content-skeleton {
  position: relative;
  z-index: 4;
  padding-bottom: 2px;
  /* matches the space above the events */
}

.fc-row .fc-helper-skeleton {
  z-index: 5;
}

.fc-row .fc-content-skeleton td,
.fc-row .fc-helper-skeleton td {
  /* see-through to the background below */
  background: none;
  /* in case <td>s are globally styled */
  border-color: transparent;
  /* don't put a border between events and/or the day number */
  border-bottom: 0;
}

.fc-row .fc-content-skeleton tbody td,
.fc-row .fc-helper-skeleton tbody td {
  /* don't put a border between event cells */
  border-top: 0;
}

/* Scrolling Container
--------------------------------------------------------------------------------------------------*/
.fc-scroller {
  /* this class goes on elements for guaranteed vertical scrollbars */
  overflow-y: scroll;
  overflow-x: hidden;
}

.fc-scroller > * {
  /* we expect an immediate inner element */
  position: relative;
  /* re-scope all positions */
  width: 100%;
  /* hack to force re-sizing this inner element when scrollbars appear/disappear */
  overflow: hidden;
  /* don't let negative margins or absolute positioning create further scroll */
}

/* Global Event Styles
--------------------------------------------------------------------------------------------------*/
.fc-event {
  position: relative;
  /* for resize handle and other inner positioning */
  display: block;
  /* make the <a> tag block */
  font-size: .85em;
  line-height: 1.3;
  border-radius: 3px;
  border: 1px solid #3a87ad;
  /* default BORDER color */
  background-color: #3a87ad;
  /* default BACKGROUND color */
  font-weight: normal;
  /* undo jqui's ui-widget-header bold */
}

/* overpower some of bootstrap's and jqui's styles on <a> tags */
.fc-event,
.fc-event:hover,
.ui-widget .fc-event {
  color: #fff;
  /* default TEXT color */
  text-decoration: none;
  /* if <a> has an href */
}

.fc-event[href],
.fc-event.fc-draggable {
  cursor: pointer;
  /* give events with links and draggable events a hand mouse pointer */
}

.fc-not-allowed,
.fc-not-allowed .fc-event {
  /* to override an event's custom cursor */
  cursor: not-allowed;
}

/* DayGrid events
----------------------------------------------------------------------------------------------------
We use the full "fc-day-grid-event" class instead of using descendants because the event won't
be a descendant of the grid when it is being dragged.
*/
.fc-day-grid-event {
  margin: 1px 2px 0;
  /* spacing between events and edges */
  padding: 0 1px;
}

/* events that are continuing to/from another week. kill rounded corners and butt up against edge */
.fc-ltr .fc-day-grid-event.fc-not-start,
.fc-rtl .fc-day-grid-event.fc-not-end {
  margin-left: 0;
  border-left-width: 0;
  padding-left: 1px;
  /* replace the border with padding */
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.fc-ltr .fc-day-grid-event.fc-not-end,
.fc-rtl .fc-day-grid-event.fc-not-start {
  margin-right: 0;
  border-right-width: 0;
  padding-right: 1px;
  /* replace the border with padding */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.fc-day-grid-event > .fc-content {
  /* force events to be one-line tall */
  white-space: nowrap;
  overflow: hidden;
}

.fc-day-grid-event .fc-time {
  font-weight: bold;
}

/* resize handle (outside of fc-content, so can go outside of bounds) */
.fc-day-grid-event .fc-resizer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 7px;
}

.fc-ltr .fc-day-grid-event .fc-resizer {
  right: -3px;
  cursor: e-resize;
}

.fc-rtl .fc-day-grid-event .fc-resizer {
  left: -3px;
  cursor: w-resize;
}

/* Event Limiting
--------------------------------------------------------------------------------------------------*/
/* "more" link that represents hidden events */
a.fc-more {
  margin: 1px 3px;
  font-size: .85em;
  cursor: pointer;
  text-decoration: none;
}

a.fc-more:hover {
  text-decoration: underline;
}

.fc-limited {
  /* rows and cells that are hidden because of a "more" link */
  display: none;
}

/* popover that appears when "more" link is clicked */
.fc-day-grid .fc-row {
  z-index: 1;
  /* make the "more" popover one higher than this */
}

.fc-more-popover {
  z-index: 2;
  width: 220px;
}

.fc-more-popover .fc-event-container {
  padding: 10px;
}

/* Toolbar
--------------------------------------------------------------------------------------------------*/
.fc-toolbar {
  text-align: center;
  margin-bottom: .5em;
}

.fc-toolbar .fc-left {
  float: left;
}

.fc-toolbar .fc-right {
  float: right;
}

.fc-toolbar .fc-center {
  display: inline-block;
}

/* the things within each left/right/center section */
.fc .fc-toolbar > * > * {
  /* extra precedence to override button border margins */
  float: left;
  margin-left: .75em;
}

/* the first thing within each left/center/right section */
.fc .fc-toolbar > * > :first-child {
  /* extra precedence to override button border margins */
  margin-left: 0;
}

/* title text */
.fc-toolbar h2 {
  margin: 0;
  font-size: .8em;
}

/* button layering (for border precedence) */
.fc-toolbar button {
  position: relative;
}

.fc-toolbar .fc-state-hover,
.fc-toolbar .ui-state-hover {
  z-index: 2;
}

.fc-toolbar .fc-state-down {
  z-index: 3;
}

.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active {
  z-index: 4;
}

.fc-toolbar button:focus {
  z-index: 5;
}

/* View Structure
--------------------------------------------------------------------------------------------------*/
/* undo twitter bootstrap's box-sizing rules. normalizes positioning techniques */
/* don't do this for the toolbar because we'll want bootstrap to style those buttons as some pt */
.fc-view-container *,
.fc-view-container *:before,
.fc-view-container *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.fc-view,
.fc-view > table {
  /* so dragged elements can be above the view's main element */
  position: relative;
  z-index: 1;
}

/* BasicView
--------------------------------------------------------------------------------------------------*/
/* day row structure */
.fc-basicWeek-view .fc-content-skeleton,
.fc-basicDay-view .fc-content-skeleton {
  /* we are sure there are no day numbers in these views, so... */
  padding-top: 1px;
  /* add a pixel to make sure there are 2px padding above events */
  padding-bottom: 1em;
  /* ensure a space at bottom of cell for user selecting/clicking */
}

.fc-basic-view tbody .fc-row {
  min-height: 4em;
  /* ensure that all rows are at least this tall */
}

/* a "rigid" row will take up a constant amount of height because content-skeleton is absolute */
.fc-row.fc-rigid {
  overflow: hidden;
}

.fc-row.fc-rigid .fc-content-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/* week and day number styling */
.fc-basic-view .fc-week-number,
.fc-basic-view .fc-day-number {
  padding: 0 2px;
}

.fc-basic-view td.fc-week-number span,
.fc-basic-view td.fc-day-number {
  padding-top: 2px;
  padding-bottom: 2px;
}

.fc-basic-view .fc-week-number {
  text-align: center;
}

.fc-basic-view .fc-week-number span {
  /* work around the way we do column resizing and ensure a minimum width */
  display: inline-block;
  min-width: 1.25em;
}

.fc-ltr .fc-basic-view .fc-day-number {
  text-align: right;
}

.fc-rtl .fc-basic-view .fc-day-number {
  text-align: left;
}

.fc-day-number.fc-other-month {
  opacity: 0.3;
  filter: alpha(opacity=30);
  /* for IE */
  /* opacity with small font can sometimes look too faded
     might want to set the 'color' property instead
     making day-numbers bold also fixes the problem */
}

/* AgendaView all-day area
--------------------------------------------------------------------------------------------------*/
.fc-agenda-view .fc-day-grid {
  position: relative;
  z-index: 2;
  /* so the "more.." popover will be over the time grid */
}

.fc-agenda-view .fc-day-grid .fc-row {
  min-height: 3em;
  /* all-day section will never get shorter than this */
}

.fc-agenda-view .fc-day-grid .fc-row .fc-content-skeleton {
  padding-top: 1px;
  /* add a pixel to make sure there are 2px padding above events */
  padding-bottom: 1em;
  /* give space underneath events for clicking/selecting days */
}

/* TimeGrid axis running down the side (for both the all-day area and the slot area)
--------------------------------------------------------------------------------------------------*/
.fc .fc-axis {
  /* .fc to overcome default cell styles */
  vertical-align: middle;
  padding: 0 4px;
  white-space: nowrap;
}

.fc-ltr .fc-axis {
  text-align: right;
}

.fc-rtl .fc-axis {
  text-align: left;
}

.ui-widget td.fc-axis {
  font-weight: normal;
  /* overcome jqui theme making it bold */
}

/* TimeGrid Structure
--------------------------------------------------------------------------------------------------*/
.fc-time-grid-container,
.fc-time-grid {
  /* so slats/bg/content/etc positions get scoped within here */
  position: relative;
  z-index: 1;
}

.fc-time-grid {
  min-height: 100%;
  /* so if height setting is 'auto', .fc-bg stretches to fill height */
}

.fc-time-grid table {
  /* don't put outer borders on slats/bg/content/etc */
  border: 0 hidden transparent;
}

.fc-time-grid > .fc-bg {
  z-index: 1;
}

.fc-time-grid .fc-slats,
.fc-time-grid > hr {
  /* the <hr> AgendaView injects when grid is shorter than scroller */
  position: relative;
  z-index: 2;
}

.fc-time-grid .fc-bgevent-skeleton,
.fc-time-grid .fc-content-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.fc-time-grid .fc-bgevent-skeleton {
  z-index: 3;
}

.fc-time-grid .fc-highlight-skeleton {
  z-index: 4;
}

.fc-time-grid .fc-content-skeleton {
  z-index: 5;
}

.fc-time-grid .fc-helper-skeleton {
  z-index: 6;
}

/* TimeGrid Slats (lines that run horizontally)
--------------------------------------------------------------------------------------------------*/
.fc-slats td {
  height: 1.5em;
  border-bottom: 0;
  /* each cell is responsible for its top border */
}

.fc-slats .fc-minor td {
  border-top-style: dotted;
}

.fc-slats .ui-widget-content {
  /* for jqui theme */
  background: none;
  /* see through to fc-bg */
}

/* TimeGrid Highlighting Slots
--------------------------------------------------------------------------------------------------*/
.fc-time-grid .fc-highlight-container {
  /* a div within a cell within the fc-highlight-skeleton */
  position: relative;
  /* scopes the left/right of the fc-highlight to be in the column */
}

.fc-time-grid .fc-highlight {
  position: absolute;
  left: 0;
  right: 0;
  /* top and bottom will be in by JS */
}

/* TimeGrid Event Containment
--------------------------------------------------------------------------------------------------*/
.fc-time-grid .fc-event-container,
.fc-time-grid .fc-bgevent-container {
  /* a div within a cell within the fc-bgevent-skeleton */
  position: relative;
}

.fc-ltr .fc-time-grid .fc-event-container {
  /* space on the sides of events for LTR (default) */
  margin: 0 2.5% 0 2px;
}

.fc-rtl .fc-time-grid .fc-event-container {
  /* space on the sides of events for RTL */
  margin: 0 2px 0 2.5%;
}

.fc-time-grid .fc-event,
.fc-time-grid .fc-bgevent {
  position: absolute;
  z-index: 1;
  /* scope inner z-index's */
}

.fc-time-grid .fc-bgevent {
  /* background events always span full width */
  left: 0;
  right: 0;
}

/* TimeGrid Event Styling
----------------------------------------------------------------------------------------------------
We use the full "fc-time-grid-event" class instead of using descendants because the event won't
be a descendant of the grid when it is being dragged.
*/
.fc-time-grid-event.fc-not-start {
  /* events that are continuing from another day */
  /* replace space made by the top border with padding */
  border-top-width: 0;
  padding-top: 1px;
  /* remove top rounded corners */
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.fc-time-grid-event.fc-not-end {
  /* replace space made by the top border with padding */
  border-bottom-width: 0;
  padding-bottom: 1px;
  /* remove bottom rounded corners */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.fc-time-grid-event {
  overflow: hidden;
  /* don't let the bg flow over rounded corners */
}

.fc-time-grid-event > .fc-content {
  /* contains the time and title, but no bg and resizer */
  position: relative;
  z-index: 2;
  /* above the bg */
}

.fc-time-grid-event .fc-time,
.fc-time-grid-event .fc-title {
  padding: 0 1px;
}

.fc-time-grid-event .fc-time {
  font-size: .85em;
  white-space: nowrap;
}

.fc-time-grid-event .fc-bg {
  z-index: 1;
  background: #fff;
  opacity: .25;
  filter: alpha(opacity=25);
  /* for IE */
}

/* short mode, where time and title are on the same line */
.fc-time-grid-event.fc-short .fc-content {
  /* don't wrap to second line (now that contents will be inline) */
  white-space: nowrap;
}

.fc-time-grid-event.fc-short .fc-time,
.fc-time-grid-event.fc-short .fc-title {
  /* put the time and title on the same line */
  display: inline-block;
  vertical-align: top;
}

.fc-time-grid-event.fc-short .fc-time span {
  display: none;
  /* don't display the full time text... */
}

.fc-time-grid-event.fc-short .fc-time:before {
  content: attr(data-start);
  /* ...instead, display only the start time */
}

.fc-time-grid-event.fc-short .fc-time:after {
  content: "\000A0-\000A0";
  /* seperate with a dash, wrapped in nbsp's */
}

.fc-time-grid-event.fc-short .fc-title {
  font-size: .85em;
  /* make the title text the same size as the time */
  padding: 0;
  /* undo padding from above */
}

/* resizer */
.fc-time-grid-event .fc-resizer {
  position: absolute;
  z-index: 3;
  /* above content */
  left: 0;
  right: 0;
  bottom: 0;
  height: 8px;
  overflow: hidden;
  line-height: 8px;
  font-size: 11px;
  font-family: monospace;
  text-align: center;
  cursor: s-resize;
}

.fc-time-grid-event .fc-resizer:after {
  content: "=";
}

#calendar {
  font-size: 1.3em;
}

div.fc-widget-header table thead tr th {
  background: #f6ab01;
  padding: .5em 0 0 0;
  text-transform: uppercase;
}

div.fc-day-grid-container div.fc-bg table tbody tr th.fc-today {
  border: solid 1px #f00;
}
div.fc-day-grid-container div.fc-bg table tbody tr td.fc-other-month {
  background: #f1f1f1;
}
div.fc-day-grid-container div.fc-content-skeleton table tbody tr td {
  border-right: solid 1px #dddddd;
}
div.fc-day-grid-container div.fc-content-skeleton table tbody tr td a.fc-day-grid-event {
  font-size: 1em;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: #f6f6f6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

.hidden {
  display: none;
}

.botonInscripcion {
  background: #ff156e;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  color: #fff;
  text-transform: uppercase;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 2em auto 0 auto;
  display: block;
  font-weight: 600;
}
.botonInscripcion:hover {
  background: #000;
}
.botonInscripcion:focus {
  background: #000;
}

.botonNegro {
  background: #000;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  color: #fff;
  text-transform: uppercase;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 2em auto 0 auto;
  display: block;
  font-weight: 600;
  display: inline-block;
  padding: .85em 1em;
  font-size: .9rem;
}
.botonNegro:hover {
  background: #ff156e;
  color: #fff;
}
.botonNegro:focus {
  background: #ff156e;
  color: #fff;
}

@media (max-width: 767px) {
  #atstbx a {
    max-height: 36px;
    max-width: 36px;
  }

  #atstbx a span {
    height: 36px !important;
    line-height: 36px !important;
    width: 36px !important;
  }

  #atstbx a span .at-icon {
    height: 36px !important;
    width: 36px !important;
  }
}
.addthis_sharing_toolbox {
  margin-top: 10px;
}

form .required a {
  color: #ff156e;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
form .required a:hover {
  color: #000;
}

input[type="text"], input[type="email"], select, input[type="password"] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #fff;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  background-color: #fff !important;
}

ul {
  list-style-position: inside;
}

/*# sourceMappingURL=estilos.css.map */
