#barritaloca {display:none;width: 100%;position: fixed;bottom:0px;box-shadow: 0px 0 10px 0 #FFFFFF;background: #000000;z-index: 99999;font-size: 14px;line-height: 1.3em;left: 0px;text-align:center;color:#FFF;opacity: 0.9}
#barritaloca .innerbarrita{position:relative; margin:auto; width:100%; display:block;}
#barritaloca .text{text-align:center;}
#barritaloca .cookie-text p{color:#FFF;font-size:11px;margin:5px}
#barritaloca .btn-u{padding:5px;padding:1px 6px;font-size:12px;text-decoration:none;color:#fff;}
#barritaloca table{padding:0;margin:0;}
#barritaloca table tbody, #barritaloca table th{margin:0;padding:0;background-color: #000}