<div class="login-form">
  <div class="login-content">
    <div class="fos_user_user_show">
      <p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
      <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
    </div>

    <div class="form-group-send">
      <button onclick="location.href='{{ path('fos_user_security_login') }}'" class="button tiny"><i class="fa fa-sign-out"></i>{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</button>
    </div>
    
  </div>
</div>