{% extends '::base.html.twig' %}

{% block container %}
  <h1>{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</h1>
  {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock %}
