<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div>
      <button class="tiny right" type="submit">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
    </div>
</form>
