@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700,700italic);

@import "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";  // Fontawesome 

@mixin clear {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}

// Colores generales
//Color incial base: #00acd0 // #008aa6

$fondocabecera: #f6ab01;
$colortxtcabecera: #ffffff;

$colorCabeceraTabla: $fondocabecera; // #5893d5
$colorCabeceraTablaAct: #b27b01;

$colorSelect2: $fondocabecera; // #5893d5

$CalendarioCabbgcolor: $fondocabecera; // #5893d5

$BotonesFondo: $fondocabecera; // #5893d5
$BotonesFondoSecondary: #b9b9b9; // #5893d5

$selectedTableRow: #ffe0cc;

$colorAlertBg: #B22222;
$colorAlertText: white;

$gris: #888888;
$rosa:	#ff156e;
$rojo: #ca1b1b; 

//@import "estructura/foundation";			// foundation
@import "estructura/configuracion";			// CONFIGURACION PROYECTO
// @import "estructura/foundationVO";		// foundation
@import "estructura/cabecera";				// CABECERA
@import "estructura/footer";				// FOOTER
@import "estructura/listadoPromociones";	// LISTADO
@import "estructura/fichaPromociones";		// FICHA
@import "estructura/misdatos";				// MIS DATOS
@import "estructura/login";					// LOGIN
@import "estructura/contacto";				// CONTACTO
@import "estructura/page";					// PAGINA

@import "estructura/tablaDatos";			// TABLADATOS
@import "estructura/contenidos";			// CONTENIDOS
@import "estructura/select2";				// JS Select
@import "estructura/modal";					// MODAL
@import "estructura/fullcalendar";			// FULLCALENDAR



body { font-family: 'Source Sans Pro', sans-serif; margin: 0; padding: 0; font-size:16px; background: #f6f6f6; }
h1, h2, h3, h4, h5, h6 { font-family: 'Source Sans Pro', sans-serif; }

.hidden{ display:none; }

.botonInscripcion { background: $rosa; @include border-radius(50px); color: #fff; text-transform: uppercase; @include transition(all .3s ease); margin: 2em auto 0 auto; display: block; font-weight: 600;
	&:hover { background: #000; }
	&:focus { background: #000; }
}

.botonNegro { background: #000; @include border-radius(50px); color: #fff; text-transform: uppercase; @include transition(all .3s ease); margin: 2em auto 0 auto; display: block; font-weight: 600; display: inline-block; padding: .85em 1em; font-size: .9rem; 
	&:hover { background: $rosa; color: #fff; }
	&:focus { background: $rosa; color: #fff; }
}

@media (max-width: 767px) {
	#atstbx a {
	    max-height: 36px;
	    max-width: 36px;
	}
	#atstbx a span {
	    height: 36px !important;
	    line-height: 36px !important;
	    width: 36px !important;
	}
	#atstbx a span .at-icon {
	    height: 36px !important;
	    width: 36px !important;
	}
}
.addthis_sharing_toolbox{
	margin-top:10px;
}

form {
	.required {
		a { color: $rosa; @include transition(all .3s ease);
			&:hover { color: #000; }
		}
	}
}

input[type="text"], input[type="email"], select, input[type="password"] { @include box-shadow(none); background-color: #fff; }

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset!important; background-color: #fff!important; 
}

ul { list-style-position: inside; }