{% extends '::index.html.twig' %}

{% block titulo_cabecera %}
    <h1>{{ 'LogActions'|trans }}</h1>
{% endblock %}

{% block scripts %}
  {% set txtBtn = ('Eliminar acciones anteriores al %1%' | trans({ '%1%' : ("now" | date_modify("-1 month") | date() | localizeddate('medium', 'none', app.request.locale)) })) %}

	{{ parent() }}

	<script type="text/javascript">
	  $(document).ready(function(){
	  	$('.bloqueSeleccion').prepend("<a href='{{ path('logaction_eliminar_historico') }}' class='button tiny' style='position: absolute; z-index: 1;'>{{ txtBtn }}</a>");
	  });

		function verMasInfo(e){
			$('#contentModalInfoLogAction').html($('.infoLogAction', $(e).closest('td')).html());
    	$('#modalInfoLogAction').foundation('reveal', 'open', {multiple_opened: true});
		}
	</script>

	<div id="modalInfoLogAction" class="reveal-modal tiny" data-reveal aria-hidden="true" role="dialog">
	  <div id="contentModalInfoLogAction" style="font-size: 0.75rem;"></div>
	</div>
{% endblock %}

