{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
  <div class="capacentro2">
    {% if error %}
      <div data-alert class="alert-box alert">
        {{ error|trans({}, 'FOSUserBundle') }}
        <a href="#" class="close">&times;</a>
      </div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

      <div class="row">
        <div class="small-3 columns">
          <label for="username" class="right">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        </div>
        <div class="small-9 columns">
          <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="password" class="right">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        </div>
        <div class="small-9 columns">
          <input type="password" id="password" name="_password" required="required" />
        </div>
      </div>

      <div class="row text-center">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

        <button type="submit"  id="_submit" name="_submit" class="button">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
      </div>
    </form>
  </div>
{% endblock fos_user_content %}
