{% set idTabla = 'tablaContenidoRel_' ~ tabla %}

{% for accion in acciones %}
  {% if accion == 'new' %}
    <a class="anadirRegistro" title="{{ 'table.actions.new' | trans }}" data-url="{{ path(route_prefix ~ '_new', {'originId': originId, 'originClass': originClass}) }}" onclick="appUtil.showModal(this);">
      <i class="fa fa-plus"></i>
    </a>
  {% elseif accion == 'delete' %}
    <a class="eliminarRegistros" title="{{ 'table.actions.delete' | trans }}" href="{{ path(route_prefix ~ '_delete', { id: 0 }) }}">
      <i class="fa fa-trash-o"></i>
    </a>
  {% elseif accion == 'selectAll' %}
    <a class="seleccionarTodos" title="{{ 'table.actions.selectAll' | trans }}" data-rel="{{ idTabla }}">
      <i class="fa fa-check-square-o"></i>
    </a>
  {% elseif accion == 'deselectAll' %}
    <a class="deseleccionarTodos" title="{{ 'table.actions.deselectAll' | trans }}" data-rel="{{ idTabla }}">
      <i class="fa fa-square-o"></i>
    </a>
  {% elseif accion == 'excel' %}
    <a class="exportarExcel" title="{{ 'table.actions.excel' | trans }}" data-url="{{ path('app_bundle_export_excel') }}" data-rel="{{ tabla }}">
      <i class="fa fa-download"></i>
    </a>
  {% else %}
    {% if accion is iterable %}
      <a class="{{ accion.class }}" title="{{ accion.title | trans }}" data-url="{{ path(accion.path) }}" data-rel="{{ tabla }}">
        <i class="fa {{ accion.icon }}"></i>
      </a>
    {% endif %}
  {% endif %}
{% endfor %}