{% extends '::modal.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}

{% block info_modal %}
  {{ parent() }}
{% endblock %}

{% block container %}
  {% block form %}
    <div style="margin-top: 1rem;">
      {{ form_start(form) }}
      
        <div class="error"> {{ form_errors(form) }} </div>
        {% for col, formField in form.children %}
          {% if not (formField | isHidden) %}
            {% include '::_partials/form_row.html.twig' with {'col': col, 'form': form, 'relation': false} %}
          {% endif %}
        {% endfor %}

        <div class="form_button_row">
          <button id="{{ form.vars.name }}_save" class="tiny" name="save" type="submit">{{ 'form.action.save' | trans }}</button>
        </div>
      {{ form_end(form) }}
    </div>
{% endblock %}

  {% block extra_contain %}
    <input type='hidden' class='modal_form_ids' value='{{ ids }}'/>
  {% endblock %}
{% endblock %}


{% block scripts %}
  <script>
    $(document).ready(function () {
      var $form = $('#JSnmRelationForm');
      var $modal = $form.closest('.reveal-modal');
      var ids = $('.modal_form_ids', $modal).val().split('_');
      var fName = '{{ form.vars.name }}';
      var tr = $('.tablaContenido.nmRel[data-rel-class="{{ relClass }}"] .JScheckbox[value="{{ originId ~ '_' ~ id }}"]').closest('tr');

      for(var i = 0; i < ids.length; i++){
        $('#' + fName + '_' + ids[i], $form).closest('.entity_form_row').hide();  
      }
      
      $form.ajaxForm({
        dataType: 'json',
        beforeSubmit: function (formData, jqForm, options) {
          appUtil.cargando();
        },
        success: function (response, statusText, xhr, $form) {
          if(response.status === 'OK'){
            $.each(response.entity, function(col, value){
              var td = $('td.tdNmRel_' + col, tr);
              if(td.length){
                td.html(value);
              }
            });
            $modal.foundation('reveal', 'close');
          }else{
            $modal.html(response.html);
            appUtil.iniciarModal($modal);
          }
          appUtil.cargado();
        },
        error: function (jqXHR, ajaxSettings, thrownError) {
          appUtil.errorAjax(jqXHR, ajaxSettings, thrownError);
        }
      });
    });
  </script>
{% endblock %}