{% set idFiltro = 'filtro_' ~ entity ~ '_' ~ col %}
{% set nameFiltro = col %}
{% set class = filtro.class is defined ? filtro.class : '' %}
{% set defaultValue = filtro.default_value is defined ? filtro.default_value : '' %}
{% set multiple = false %}
{% if filtro.multiple is defined and filtro.multiple %}
  {% set multiple = true %}
  {% set nameFiltro = nameFiltro ~ '[]' %}
{% endif %}

{% if filtro.type == 'choice' %}
  
  <select name='{{ nameFiltro }}' id='{{ idFiltro }}' class='{{ class }}' {{ multiple ? 'multiple="multiple"' : '' }}>
    {% if filtro.empty_value is defined and filtro.empty_value %}
      <option value=''>{{ 'select.all' | trans }}</option>
    {% endif %}  
      
    {% for choiceId, choiceText in filtro.choices %}
      <option value='{{ choiceId }}' {{ defaultValue is sameas(choiceId) ? 'selected="selected"' : '' }}>{{ choiceText | trans }}</value>
    {% endfor %}
  </select>
  
{% elseif filtro.type == 'date_range' %}    
  {% if defaultValue and defaultValue.from is defined %}
    {% set dateRangeFrom = defaultValue.from %}
    {% set dateRangeTo = defaultValue.to %}
  {% endif %}
  <input type='text' class='fdatepicker' name='{{ nameFiltro ~ '[desde]' }}' id='{{ idFiltro }}' placeholder='{{ 'input.date.desde' | trans }}' value="{{ dateRangeFrom is defined ? dateRangeFrom : ''  }}"/>
  <input type='text' class='fdatepicker' name='{{ nameFiltro ~ '[hasta]' }}' placeholder='{{ 'input.date.hasta' | trans }}' value="{{ dateRangeTo is defined ? dateRangeTo : ''  }}"/>
  
{% elseif filtro.type == 'entity' %}
  
  <select name='{{ nameFiltro }}' id='{{ idFiltro }}' {{ filtro | select2ajax }}>
    <option value=''>{{ 'select.all' | trans }}</option>
    {% if filtro.group_by is defined %}
      {% for key, choices in filtro.choices %}
        <optgroup label="{{ key |trans }}">
          {% for choice in choices %}
            <option value='{{ choice.id }}' {{ defaultValue is sameas(choice.id) ? 'selected' : '' }}>{{ choice }}</value>
          {% endfor %}
        </optgroup>
      {% endfor %}
    {% else %}
      {% for choice in filtro.choices %}
        <option value='{{ choice.id }}' {{ defaultValue is sameas(choice.id) ? 'selected' : '' }}>{{ choice }}</value>
      {% endfor %}
    {% endif %}
  </select>

{% elseif filtro.type == 'numeric' %}
  
    <select class='prefix JSselect2No' name='{{ nameFiltro ~ '[operator]' }}'>
      <option value='='>=</otion>
      <option value='>'>></otion>
      <option value='<'><</otion>
      <option value='>='>>=</otion>
      <option value='<='><=</otion>
    </select>
    <input type="text" placeholder="Value" name='{{ nameFiltro ~ '[value]' }}' id='{{ idFiltro }}' value='{{ defaultValue ? defaultValue : '' }}'>
  
{% else %}

    <input type='text' name='{{ nameFiltro }}' id='{{ idFiltro }}' value='{{ defaultValue ? defaultValue : '' }}'/>
    
{% endif %}