{% extends '::new.html.twig' %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/colorpicker/js/colorpicker.js') }}" type="text/javascript"></script>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('js/colorpicker/css/colorpicker.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block titulo_cabecera %}
    <h2>{{ titulo|trans }}</h2>
{% endblock %}

{% block hidden_inputs %}
  <input type="hidden" name="entityClass" value="{{ entityClass }}"/>
{% endblock%}

{% block extra_contain %} {% endblock%}

{% block scripts %}
  <script>
    $(document).ready(function () {
      var $form = $('#JSmodalForm_' + '{{ class }}');
      var $modal = $form.closest('.reveal-modal');
      
      $form.ajaxForm({
        dataType: 'json',
        beforeSubmit: function (formData, jqForm, options) {
          appUtil.cargando();
        },
        success: function (response, statusText, xhr, $form) {
          if(response.status === 'OK'){
            var rel_id = $modal.attr('data-rel-id');
            $('#'+rel_id).append('<option value="'+response.entity.id+'" selected>'+response.entity.text+'</option>');
            if(!$('#'+rel_id).attr('multiple')){
              $('#'+rel_id).val(response.entity.id);
            }
            if(!$('#'+rel_id).hasClass('JSselect2No')){
              $('#'+rel_id).trigger("change");
            }
            $modal.foundation('reveal', 'close');
          }else{
            $modal.html(response.html);
            appUtil.iniciarModal($modal);
          }
          appUtil.cargado();
        },
        error: function (jqXHR, ajaxSettings, thrownError) {
          appUtil.errorAjax(jqXHR, ajaxSettings, thrownError);
        }
      });
      
      appUtil.addRelationForm($form);
    });
  </script>
{% endblock %}