{% extends '::base.html.twig' %}

{% block container %}
  <h1>{{ 'Permisos'|trans }}</h1>

  <table id="tablaContenido_Permisos" class="records_list large-12">
    <thead>
      <tr>
        <th></th>
          {% for user in users %}
          <th>{{ user.username }}</th>
          {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for menu in menus %}
        <tr>
          <th>
            {{ menu.nombre | raw }}
          </th>
          {% for user in users %}
            <td>
              {% if user.hasRole('ROLE_ADMIN') %}
                {{ true | semaphore }}
              {% else %}
                {% if not menu.admin %}
                  <a href="javascript:activarDesactivarPermiso('{{ path('common_bundle_user_edit_permission', {'user_id' : user.id, 'menu_id' : menu.id }) }}', '{{ menu.id ~ '_' ~ user.id }}');" id="{{ menu.id ~ '_' ~ user.id }}">
                    {{ (menu.id in user.getMenuIds()) | semaphore }}
                  </a>
                {% else %}
                  {{ false | semaphore }}
                {% endif %}
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    function activarDesactivarPermiso(url, id) {
      var obj = $('#' + id + ' img');
      var enable = (obj.attr('src').indexOf('green.png') != -1);

      $.ajax({
        url: url,
        data: { enable: enable },
        dataType: 'json',
        success: function (data) {
          if (data.hasOwnProperty('error')) {
            alert(data.error);
          } else {
            if (!enable) {
              obj.attr('src', '/images/green.png');
            } else {
              obj.attr('src', '/images/red.png');
            }
          }
        },
        error: function (jqXHR, ajaxSettings, thrownError) {
          appUtil.errorAjax(jqXHR, ajaxSettings, thrownError);
        }
      });
    }
  </script>
{% endblock %}