{% extends '::modal.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}

{% block container %}
  <ul class="tabs" data-tab>
    <li class="tab-title active"><a href="#tab_home">{{ 'Resetear clave' | trans }}</a></li>
  </ul>

  <div class="tabs-content">
    <div class="content active text-center" id="tab_home">
     <p>Se ha reseteado la clave del usuario, para que el usuario pueda volver a acceder a la aplicación se le debe comunicar la nueva clave:</p>
     <p><b>{{ clave }}</b></p>
    </div>
  </div>
{% endblock %}