{% extends '::modal.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}

{% block container %}
  <h1>{{ 'User'|trans }}</h1>

  <table class="record_properties large-12">
    <tbody>
      <tr>
        <th>{{ 'Username'|trans }}</th>
        <td>{{ entity.username }}</td>
      </tr>
      <tr>
        <th>{{ 'Email'|trans }}</th>
        <td>{{ entity.email }}</td>
      </tr>
      <tr>
        <th>{{ 'Enabled'|trans }}</th>
        <td>{{ entity.enabled|semaphore }}</td>
      </tr>
      <tr>
        <th>{{ 'Lastlogin'|trans }}</th>
        <td>{% if entity.lastLogin %}{{ entity.lastLogin|localizeddate('medium', 'short', app.request.locale) }}{% endif %}</td>
      </tr>
      <tr>
        <th>{{ 'Locale'|trans }}</th>
        <td>{{ entity.locale|lang }}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
